.main_aboutUs img {
  max-width: 100%;
}
.main_aboutUs .aboutUs .top img {
  width: 100%;
}
.main_aboutUs .aboutUs .top .content {
  color: #221714;
  font-family: "微软雅黑";
  font-weight: normal;
}
.main_aboutUs .aboutUs .top .content p {
  padding: 0px 10px;
  text-align: justify;
}
.main_aboutUs .aboutUs .center {
  box-sizing: border-box;
}
.main_aboutUs .aboutUs .center .line {
  width: 130px;
  margin-left: 10px;
}
.main_aboutUs .aboutUs .center li {
  position: relative;
}
.main_aboutUs .aboutUs .center li .item_img {
  width: 90%;
  margin-left: 5%;
}
.main_aboutUs .aboutUs .center li .details {
  text-align: center;
  color: #221714;
}
.main_aboutUs .aboutUs .firm {
  box-sizing: border-box;
  overflow: hidden;
}
.main_aboutUs .aboutUs .firm .container {
  position: relative;
}
.main_aboutUs .aboutUs .firm .content {
  position: absolute;
  top: 0;
  color: #221714;
  background-color: white;
  text-align: justify;
}
.main_aboutUs .aboutUs .firm .content h4 {
  font-weight: bold;
}
.main_aboutUs .aboutUs .firm .content div {
  margin-top: 20px;
  position: relative;
}
.main_aboutUs .aboutUs .firm .content div:before {
  content: '';
  display: block;
  width: 3px;
  height: 20px;
  top: -2px;
  left: -20px;
  background-color: red;
  position: absolute;
}
.main_aboutUs .aboutUs .firm .bg_firm {
  width: 100%;
}
.main_aboutUs .referral {
  background: url("../images/aboutUs/bg_referral.jpg") no-repeat center center;
  background-size: 100% 100%;
  color: white;
  font-family: "微软雅黑";
  text-align: justify;
}
.main_aboutUs .bg_md {
  background: url("../images/aboutUs/bg_referral.jpg") no-repeat center center;
  background-size: 100% 100%;
  color: white;
  font-family: "微软雅黑";
  text-align: justify;
}
.main_aboutUs .accounts {
  margin-top: 60px;
}
.main_aboutUs .accounts .container {
  position: relative;
}
.main_aboutUs .accounts .container .logo_accountS {
  width: 24%;
  margin-left: 10px;
}
.main_aboutUs .accounts .container .content {
  color: #717071;
  text-align: right;
  position: relative;
}
.main_aboutUs .accounts .container li img {
  width: 100%;
}
@media (max-width: 992px) {
  .referral {
    display: none;
  }
  .item_referral {
    display: none;
  }
}
@media (min-width: 992px) {
  .main_aboutUs {
    margin-top: 80px;
  }
  .main_aboutUs .top .content p {
    margin: 20px 0px;
    font-size: 14px;
    line-height: 26px;
  }
  .main_aboutUs .center {
    margin-top: 40px;
  }
  .main_aboutUs .center li .details {
    height: 130px;
    margin-top: 20px;
  }
  .main_aboutUs .center li .details p {
    font-size: 18px;
    line-height: 26px;
    padding: 0px 10px;
  }
  .main_aboutUs .center li .details span {
    font-size: 14px;
  }
  .main_aboutUs .referral {
    display: block;
    padding: 40px 0px;
  }
  .main_aboutUs .referral ul li {
    padding: 0px 30px;
    letter-spacing: 1px;
    font-size: 14px;
    line-height: 24px;
  }
  .main_aboutUs .item_md_show {
    display: none;
  }
  .main_aboutUs .bg_firm {
    margin-top: 480px;
  }
  .main_aboutUs .aboutUs .top .content {
    font-size: 14px;
    line-height: 26px;
    margin-top: 40px;
  }
  .main_aboutUs .aboutUs .firm .content {
    width: 90%;
    margin-left: 5%;
    padding: 80px;
    font-size: 14px;
    line-height: 26px;
  }
  .main_aboutUs .accounts .content {
    top: -50px;
    font-size: 14px;
    line-height: 26px;
  }
  .main_aboutUs .accounts .content p {
    line-height: 26px;
  }
}
@media (min-width: 992px) and (max-width: 1200px) {
  .aboutUs .top .content {
    font-size: 14px;
    margin-top: 40px;
  }
  .aboutUs .firm .content {
    width: 90%;
    margin-left: 5%;
    padding: 80px;
    font-size: 16px;
    line-height: 28px;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  .main_aboutUs {
    margin-top: 60px;
  }
  .main_aboutUs .top .content p {
    margin: 20px 0px;
    font-size: 14px;
    line-height: 26px;
  }
  .main_aboutUs .center {
    margin: 40px auto;
  }
  .main_aboutUs .center li .details {
    height: 80px;
    margin-top: 20px;
  }
  .main_aboutUs .center li .details p {
    font-size: 14px;
    line-height: 24px;
    padding: 0px 10px;
  }
  .main_aboutUs .center li .details span {
    font-size: 14px;
    line-height: 24px;
  }
  .main_aboutUs .bg_md {
    padding: 40px 0px;
  }
  .main_aboutUs .bg_md li {
    font-size: 14px;
    line-height: 24px;
    padding: 0px 60px;
  }
  .main_aboutUs .bg_firm {
    margin-top: 400px;
  }
  .main_aboutUs .aboutUs .top .content {
    font-size: 14px;
    line-height: 24px;
    margin-top: 40px;
  }
  .main_aboutUs .aboutUs .firm .content {
    width: 100%;
    padding: 40px;
    font-size: 14px;
    line-height: 24px;
  }
  .main_aboutUs .aboutUs .firm .content h4 {
    line-height: 28px;
  }
  .main_aboutUs .accounts .content {
    margin-bottom: 40px;
  }
}
@media (min-width: 768px) {
  .main_aboutUs {
    margin-top: 40px;
  }
}
@media (min-width: 460px) and (max-width: 768px) {
  .main_aboutUs {
    margin-top: 20px;
  }
  .main_aboutUs .aboutUs .top .content {
    font-size: 14px;
    line-height: 24px;
    margin-top: 30px;
  }
  .main_aboutUs .aboutUs .top .content p {
    margin: 20px 0px;
  }
  .main_aboutUs .aboutUs .center {
    margin: 20px auto;
  }
  .main_aboutUs .aboutUs .center li .details {
    height: 100px;
    margin-top: 10px;
  }
  .main_aboutUs .aboutUs .center li .details p {
    font-size: 14px;
    line-height: 24px;
    padding: 0px 20px;
  }
  .main_aboutUs .aboutUs .center li .details span {
    font-size: 14px;
  }
  .main_aboutUs .aboutUs .center .bg_md {
    padding: 40px 0px;
  }
  .main_aboutUs .aboutUs .center .bg_md li {
    font-size: 14px;
    line-height: 24px;
    padding: 0px 40px;
  }
  .main_aboutUs .aboutUs .center .bg_md h4 {
    line-height: 26px;
  }
  .main_aboutUs .aboutUs .firm .content {
    width: 90%;
    margin-left: 2%;
    padding: 20px;
    font-size: 14px;
    line-height: 24px;
  }
  .main_aboutUs .aboutUs .bg_firm {
    margin-top: 460px;
  }
  .main_aboutUs .accounts .content {
    margin-bottom: 40px;
    font-size: 14px;
    line-height: 24px;
  }
}
@media screen and (max-width: 460px) {
  .main_aboutUs {
    margin-top: 30px;
  }
  .main_aboutUs .aboutUs .top .content {
    font-size: 12px;
    line-height: 22px;
    margin-top: 20px;
  }
  .main_aboutUs .aboutUs .top .content p {
    margin: 14px 0px;
  }
  .main_aboutUs .aboutUs .center {
    margin: 20px auto;
  }
  .main_aboutUs .aboutUs .center li .details {
    height: 90px;
    margin-top: 10px;
  }
  .main_aboutUs .aboutUs .center li .details p {
    font-size: 12px;
    line-height: 22px;
    padding: 0px 10px;
  }
  .main_aboutUs .aboutUs .center li .details span {
    font-size: 12px;
  }
  .main_aboutUs .aboutUs .firm .content {
    font-size: 12px;
    line-height: 22px;
    padding: 30px 30px;
    left: 0;
  }
  .main_aboutUs .aboutUs .firm .bg_firm {
    margin-top: 640px;
  }
  .main_aboutUs .referral {
    display: none;
  }
  .main_aboutUs .bg_md {
    padding: 30px 0px;
  }
  .main_aboutUs .bg_md li {
    font-size: 12px;
    line-height: 22px;
    padding: 0px 20px;
  }
  .main_aboutUs .accounts .content {
    top: 0px;
    font-size: 4px;
    margin-bottom: 20px;
  }
  .main_aboutUs .accounts .content p {
    line-height: 22px;
    font-size: 12px;
  }
}
