.main_aboutUs{
    
    img{
        max-width: 100%;
    }
    .aboutUs{
        .top{
            img{
                width: 100%;
            }
            .content{
                color: #221714;
                font-family: "微软雅黑";
                font-weight: normal;
                p{
                    padding: 0px 10px;
                    text-align: justify;
                }
            }
        }
        .center{
            box-sizing: border-box;
            .line{
                width: 130px;
                margin-left: 10px;
            }
            li{
                position: relative;
                .item_img{
                    width: 90%;
                    margin-left: 5%;
                }
                .details{
                    text-align: center;
                    color: #221714;
                }
            }
        }
        .firm{
            box-sizing: border-box;
            overflow: hidden;
            .container{
                position: relative;
            }
            .content{
                position: absolute;
                top: 0;
                color:#221714;
                background-color: white;
                text-align: justify;
                h4{
                    font-weight: bold;
                }
                div{
                    margin-top: 20px;
                    position: relative;
                }
                div:before{
                    content: '';
                    display: block;
                    width: 3px;
                    height: 20px;
                    top: -2px;
                    left: -20px;
                    background-color: red;
                    position: absolute;
                }
            }
            .bg_firm{
                width: 100%;
            }
        }
    }
    .referral{
        background: url("../images/aboutUs/bg_referral.jpg") no-repeat center center;
        background-size: 100% 100%;
        color: white;
        font-family: "微软雅黑";
        text-align: justify;
    }

    .bg_md{
        // margin: 0;
        // width: 100%;
        background: url("../images/aboutUs/bg_referral.jpg") no-repeat center center;
        background-size:100% 100%;
        color: white;
        font-family: "微软雅黑";
        text-align: justify;
    }
    .accounts{
        margin-top: 60px;
        .container{
            position: relative;
            .logo_accountS{
                width: 24%;
                margin-left: 10px;
            }
            .content{
                color: #717071;
                text-align: right;
                position: relative;
               
            }
            li{
                img{
                    width: 100%;
                }
            }
        }
        
    }
}
@media (max-width: 992px){
    .referral{
        display: none;
    }
    .item_referral{
        display: none;
    }
    
        
}
@media (min-width: 992px){
    .main_aboutUs{
        margin-top: 80px;
        .top{
            .content{
                p{
                    margin: 20px 0px;
                    font-size: 14px;
                    line-height: 26px;
                }
            }
        }
        .center{
            margin-top: 40px;
            li{
                .details{
                    height: 130px;
                    margin-top: 20px;
                    p{
                        font-size: 18px;
                        line-height: 26px;
                        padding: 0px 10px;
                    }
                    span{
                        font-size: 14px;
                    }
                }
            }
        }
        .referral{
            display: block;
            padding:40px 0px;
            ul{
                li{
                    padding: 0px 30px;
                    letter-spacing: 1px;
                    font-size: 14px;
                    line-height: 24px;
                }
            }
        }
        .item_md_show{
            display: none;
        }
        .bg_firm{
            margin-top: 480px;
        }
        .aboutUs{
            .top{
                .content{
                    font-size: 14px;
                    line-height: 26px;
                    margin-top: 40px;
                }
            }
            .firm{
                .content{
                    width: 90%;
                    margin-left: 5%;
                    padding:80px;
                    font-size: 14px;
                    line-height: 26px;
                }
            }
            
        }
        .accounts{
            .content{
                top: -50px;
                font-size: 14px;
                line-height: 26px;
                p{
                    line-height: 26px;
                }
            }
        }
    }
}
@media (min-width: 992px) and(max-width:1200px){
    .aboutUs{
        .top{
            .content{
                font-size: 14px;
                margin-top: 40px;
            }
        }
        .firm{
            .content{
                width: 90%;
                margin-left: 5%;
                padding:80px;
                font-size: 16px;
                line-height: 28px;
            }
        }
        
    }
}
@media (min-width: 768px) and(max-width:992px){
    .main_aboutUs{
        margin-top: 60px;
        .top{
            .content{
                p{
                    margin: 20px 0px;
                    font-size: 14px;
                    line-height: 26px;
                }
            }
        }
        .center{
            margin: 40px auto;
            li{
                .details{
                    height: 80px;
                    margin-top: 20px;
                    p{
                        font-size: 14px;
                        line-height: 24px;
                        padding: 0px 10px;
                    }
                    span{
                        font-size: 14px;
                        line-height: 24px;
                    }
                }
            }
        }
        .bg_md{
            padding: 40px 0px;
            li{
                font-size: 14px;
                line-height: 24px;
                padding: 0px 60px;
            }
        }
        .bg_firm{
            margin-top: 400px;
        }
        .aboutUs{
            .top{
                .content{
                    font-size: 14px;
                    line-height: 24px;
                    margin-top: 40px;
                }
            }
            .firm{
                .content{
                    width: 100%;
                    padding:40px;
                    font-size: 14px;
                    line-height: 24px;
                    h4{
                        line-height: 28px;
                    }
                }
            }
            
        }
        .accounts{
            .content{
                margin-bottom: 40px;
            }
        }
    }
}
@media (min-width: 768px){
    .main_aboutUs{
        margin-top: 40px;
    }
}
@media (min-width: 460px) and(max-width:768px){
    .main_aboutUs{
        margin-top: 20px;
        .aboutUs{
            .top{
                .content{
                    font-size: 14px;
                    line-height: 24px;
                    margin-top: 30px;
                    p{
                        margin: 20px 0px;

                    }
                }
            }
            .center{
                margin: 20px auto;
                li{
                    .details{
                        height: 100px;
                        margin-top: 10px;
                        p{
                            font-size: 14px;
                            line-height: 24px;
                            padding: 0px 20px;
                        }
                        span{
                            font-size: 14px;
                        }
                    }
                }
                .bg_md{
                    padding: 40px 0px;
                    li{
                        font-size: 14px;
                        line-height: 24px;
                        padding: 0px 40px;
                    }
                    h4{
                        line-height: 26px;
                    }
                }
            }
            .firm{
                .content{
                    width: 90%;
                    margin-left: 2%;
                    padding:20px;
                    font-size: 14px;
                    line-height: 24px;
                }
            }
            .bg_firm{
                margin-top: 460px;
            }
        }
        .accounts{
            .content{
                margin-bottom: 40px;
                font-size: 14px;
                line-height: 24px;
            }
        }
    }
}
@media screen and (max-width: 460px){
    .main_aboutUs{
        margin-top: 30px;
        .aboutUs{
            .top{
                .content{
                    font-size: 12px;
                    line-height: 22px;
                    margin-top: 20px;
                    p{
                        margin: 14px 0px;
                    }
                }
            }
            .center{
                margin: 20px auto;
                li{
                    .details{
                        height: 90px;
                        margin-top: 10px;
                        p{
                            font-size: 12px;
                            line-height: 22px;
                            padding: 0px 10px;
                        }
                        span{
                            font-size: 12px;
                        }
                    }
                }
            }
            .firm{
                .content{
                    font-size: 12px;
                    line-height: 22px;
                    padding:30px 30px;
                    left: 0;
                }
                .bg_firm{
                    margin-top: 640px;
                }
            }
        }
        .referral{
            display: none;
        }
        .bg_md{
            padding: 30px 0px;
            li{
                font-size: 12px;
                line-height: 22px;
                padding: 0px 20px;
            }
        }
        .accounts{
            .content{
                top: 0px;
                font-size: 4px;
                margin-bottom: 20px;
                p{
                    line-height: 22px;
                    font-size: 12px;
                }
            }
        }
    }
}