html,body{
    width: 100%;
    overflow-x: hidden;
}
.brand4{
    img{
        max-width: 100%;
        vertical-align: middle;
    }
    .bg{
        background: url("../images/brand2/bg.jpg") no-repeat top;
        background-size: 100%;
    }
    .brand_center{
        img{
            width: 100%;
        }
    }
    .brand_referral{
        .container{
            position: relative;
            .lactein{
                position: absolute;
            }
        }
    }
    .info_product{
        
        .info{
            color: #2d211d;
            position: relative;
        }
        .biolac{
            text-align: center;
            color: #231815;
            font-family: '宋体';
            .thumbnail{
                border: none;
                background-color: transparent;
            }
            
            img{
                height: 208px;
            }
            .title{
                display: inline-block;
                width: 60%;
            }
            p{
                line-height: 30px;
            }
            .line{
                display: flex;
                justify-content: left;
                align-items: center;
                width: 60%;
                margin-left: 20%;
                span{
                    display: inline-block;
                    width: 30%;
                }
                .line-black{
                    // width: 80px;
                    height: 2px;
                    background: #6e5f57;
                }
                .line-red{
                    // width: 90px;
                    width: 40%;
                    height: 6px;
                    background: -webkit-linear-gradient(left, #ca1c1e , #9d1e23); /* Safari 5.1 - 6.0 */
                    background: -o-linear-gradient(right, #ca1c1e, #9d1e23); /* Opera 11.1 - 12.0 */
                    background: -moz-linear-gradient(right, #ca1c1e, #9d1e23); /* Firefox 3.6 - 15 */
                    background: linear-gradient(to right, #ca1c1e , #9d1e23); /* 标准的语法 */
                }
            }
            .apply_text{
                display: block;
                background-color: #231815;
                color: white;
                padding: 3px;
                width: 30%;
                margin-left: 35%;
                margin-top: 15px;
            }
        }
    }
    .thumbnail{
        border: none;
        background-color:transparent;
    }
    .shop_classify{
        text-align: center;
        color: #221714;
        .container{
            position: relative;
        }
        .intersperse,.intersperse2,.intersperse3,.intersperse4{
            position: absolute;
            z-index: -1;
        }
    }
    // 动画
    .shop_classify{
        .row{
            li{
                cursor: pointer;
                transition: all 0.3s linear;
                -moz-transition: all 0.3s linear; /* Firefox 4 */
                -webkit-transition: all 0.3s linear; /* Safari 和 Chrome */
                -o-transition: all 0.3s linear;
                .img_shop{
                    overflow: hidden;
                }
                img{
                    transition: all 0.3s linear;
                    -moz-transition: all 0.3s linear; /* Firefox 4 */
                    -webkit-transition: all 0.3s linear; /* Safari 和 Chrome */
                    -o-transition: all 0.3s linear;
                }
            }
            li:hover{
                transform: scale(1.2);
                -ms-transform: scale(1.2);
                -moz-transform: scale(1.2);
                -webkit-transform: scale(1.2);
                -o-transform: scale(1.2);
            }
        }
    }
    
}
@media (min-width: 992px){
    .brand4{
        .logo_brand{
            width: 120px;
        }
        .bg_content_brand .content{
            padding: 40px 170px;
        }
        .brand_referral{
            margin-top: 30px;
            .bg_content_brand{
                text-align: center;
                .lactein{
                    width: 54%;
                    right: -100px;
                    bottom: -170px;
                    position: absolute;
                }
            }
            
            
        }
        .info_product{
            margin-top: 60px;
            .info{
                width: 84%;
                margin-top: 40px;
                line-height: 22px;
                font-size: 14px;
                line-height: 24px;
            }
            .biolac{
                margin-top: 40px;
                .title{
                    font-size: 24px;
                    line-height: 60px;
                }
                p{
                    font-size: 14px;
                    line-height: 30px;
                }

            }
        }
        .shop_classify{
            margin-top: 60px;
            .new_img{
               margin-left: 30px; 
            }
            .intersperse{
                bottom: 40px;
                right: 100px;
                img{
                    width: 400px;
                }
            }
            .intersperse2{
                top: 0px;
                right: 60px;
                img{
                    width: 160px;
                }
            }
            .intersperse3{
                bottom: 0px;
                right: 380px;
                img{
                    width: 300px;
                }
            }
            .intersperse4{
                bottom: 40px;
                right: 100px;
                img{
                    width: 400px;
                }
            }
            .img_shop{
                img{
                    height: 200px;
                }
            }
            p{
                font-size: 14px;
                line-height: 54px;
            }
        }
    }
}
@media (min-width: 991px) and(max-width:1200px){
    .brand4{
        .info_product{
            ul{
                padding: 30px;
            }
        }
    }

}
@media (min-width: 768px) and(max-width:992px){
    .brand4{
        .logo_brand{
            width: 110px;
        }
        .brand_referral{
            margin-top: 30px;
            .bg_content_brand{
                .lactein{
                    width: 54%;
                    right: -70px;
                    bottom: -100px;
                    position: absolute;
                }
            }
        }
        .info_product{
            margin-top: 30px;
            .info{
                width: 94%;
                line-height: 22px;
                margin-top: 30px;
                font-size: 14px;
                padding-top: 0px;
            }
            .biolac{
                margin-top: 40px;
                .title{
                    font-size: 24px;
                    line-height: 60px;
                }
                p{
                    font-size: 14px;
                }
            }
        }
        .shop_classify{
            margin-top: 50px;
            .new_img{
                margin-left: 30px; 
             }
            .intersperse{
                right: 0;
                bottom:40px;
                margin: auto;
                width: 300px;
            }
            .intersperse2{
                right: 60px;
                bottom:150px;
                margin: auto;
                width: 140px;
            }
            .intersperse3{
                bottom: 60px;
                right: 10px;
                img{
                    width: 240px;
                }
            }
            .img_shop{
                img{
                    height: 200px;
                }
            }
            p{
                font-size: 16px;
                line-height: 54px;
            }
        }
    }

}
@media (min-width: 460px) and(max-width:767px){
    .brand4{
        .logo_brand{
            width: 90px;
        }
        .brand_referral{
            margin-top: 20px;
        }
        .brand_center{
            
        }
        .bg_content_brand{
            width: 100%;
            .lactein{
                width: 320px;
                right: -56px;
                bottom: -140px;
                position: absolute;
            }
        }
        .info_product{
            margin-top: 30px;
            .info{
                width: 94%;
                line-height: 22px;
                font-size: 14px;
            }
            .biolac{
                margin-top: 40px;
                .title{
                    font-size: 24px;
                    line-height: 60px;
                }
                p{
                    font-size: 14px;
                }
            }
        }
        .shop_classify{
            margin-top: 30px;
            .new_img{
                margin-left: 30px; 
             }
            .intersperse{
                left: 0;
                right: 0;
                margin: auto;
                bottom: 0px;
                width: 200px;
            }
            .img_shop{
                img{
                    height: 160px;
                }
            }
            p{
                font-size: 16px;
                line-height: 40px;
            }
        }
    }
}
@media screen and (max-width: 460px){
    .brand4{
        .logo_brand{
            width: 90px;
        }
        .brand_center{
            img{
                margin-top:10px;
            }
        }
        .brand_referral{
            margin-top: 20px;
            .bg_content_brand{
                width: 100%;
                .lactein{
                    width: 240px;
                    right: -40px;
                    bottom: -100px;
                    position: absolute;
                }
            }
        }
        .info_product{
            margin-top: 40px;
            .info{
                width: 94%;
                line-height: 22px;
                font-size: 12px;
            }
            .biolac{
                margin-top: 40px;
                .title{
                    line-height: 60px;
                }
                p{
                    font-size: 14px;
                }
            }
            
        }
        .shop_classify{
            margin-top: 30px;
            .new_img{

            }
            .intersperse{
                left: 0;
                right: 0;
                margin: auto;
                bottom: 0px;
                width: 200px;
            }
            .img_shop{
                img{
                    height:140px;
                }
            }
            p{
                font-size: 14px;
                line-height: 40px;
            }
        }
    }
}