html,body{
    width: 100%;
    overflow-x: hidden;
}
.brand2{
    img{
        max-width: 100%;
        vertical-align: middle;
    }
    .bg{
        background: url("../images/brand2/bg.jpg") no-repeat top;
        background-size: 100%;
    }
    .brand_center{
        img{
            width: 100%;
        }
    }
    .brand_referral{
        .container{
            .bg_content_brand{
                .lactein{
                    position: absolute;
                }
            }
        }
    }
    .info_product{
        .container{
            position: relative;
        }
        .embellish_coffee{
            position: absolute;
        }
        .info{
            color: #2d211d;
            position: relative;
            .thumbnail{
                text-align: center;
                border: none;
                background-color: transparent;
                img{
                    height: 84px;
                }
            }
        }
        .show_grey{
            img{
                width: 100%;
                height: 100%;
            }
        }
        
    }
    .grade{
        background-color: #113484;

    }
    .strict{
        background-color: #0e8e41;
        p{
            text-align: left;
        }
        .shop{
            text-align: right;
        }
    }
    .classics{
        background-color: #6c5539;
    }
    .coffee{
        padding: 20px 0px;
        background-color: #e3e2e2;
        color: #221714;
        .container{
            position: relative;
        }
        .line{
            background-color: red;
            position: absolute;
        }
        .referral{
            .container{
                position: relative;
            }
            .decorate{
                position: absolute;
                // z-index: -1;
            }
            .bg_content{
                background: url("../images/brand/bg_content.png") no-repeat center;
                background-size: 100% 100%;
            }
        }
    }
    .info_header{
        .content{
            text-align: right;
            color: white;
        }
        .leaf{
            text-align: center;
        }
    }
    .product,.coffee_product{
        text-align: center;
        color: #221714;
        span{
            display: block;
        }
        .thumbnail{
            border: none;
            background-color: transparent;
        }
        .grade_product_img{
            img{
                position: relative;
                top: 50%;
                bottom: 50%;
                transform: translateY(-50%);
                -ms-transform: translateY(-50%);
                -moz-transform: translateY(-50%);
                -webkit-transform: translateY(-50%);
                -o-transform: translateY(-50%);
            }
        }

    }
    .coffee_product{
        p{
            .small{
                color: grey;
            }
        }
    }
    .csr_logo{
        .csr{
            text-align: center;
        }
    }
    // 动画
    .product,.coffee_product{
        .row{
            li{
                cursor: pointer;
                transition: all 0.3s linear;
                -moz-transition: all 0.3s linear; /* Firefox 4 */
                -webkit-transition: all 0.3s linear; /* Safari 和 Chrome */
                -o-transition: all 0.3s linear;
                .img_shop{
                    overflow: hidden;
                }
                img{
                    transition: all 0.3s linear;
                    -moz-transition: all 0.3s linear; /* Firefox 4 */
                    -webkit-transition: all 0.3s linear; /* Safari 和 Chrome */
                    -o-transition: all 0.3s linear;
                }
            }
            li:hover{
                transform: scale(1.1);
                -ms-transform: scale(1.1);
                -moz-transform: scale(1.1);
                -webkit-transform: scale(1.1);
                -o-transform: scale(1.1);
            }
        }
    }
    .grade_products{
        .container{
            position: relative;
            .small1{
                position: absolute;
            }
        }
    }
    .center_product{
        .container{
            position: relative;
            .small2{
                position: absolute;
            }
        }
    }
    
}
@media (min-width: 1200px){
    .brand2{
        .thumbnail{
            img{
                height: 84px;
            }
        }
    }
}
@media (min-width: 992px){
    .brand2{
        .thumbnail{
            img{
                height: 90px;
            }
        }
        .brand_referral{
            margin-top: 30px;
            .bg_content_brand{
                width: 90%;
            }
        }
        .info_product{
            margin-top: 60px;
            .embellish_coffee{
                width: 440px;
                right: 40px;
                top: -120px;
            }
            .info{
                p{
                    font-size: 14px;
                    line-height: 24px;
                }
            }
        }
        .show_grey{
            margin-top: 40px;
            li{
                height: 140px;
                padding-left: 0px;
            }
            img{
                width: 100%;
                height: 100%;
            }
        }
        .info_header{
            .container{
                padding:10px 40px;
            }
            .leaf{
                img{
                    height: 220px;
                }
            }
            .content{
                padding: 60px 30px;
                font-size: 14px;
                line-height: 24px;
            }
            .shop{
                height: 200px;
                margin-top: 20px;
                img{
                    width: 180px;
                }
            }
        }
        .product_coffee{
            margin-top: 80px!important;
        }
        .product{
            margin-top: 60px;
            .coffee_product{
                width: 60%;
            }
            .thumbnail{
                height: 240px;
            }
            .case_thum{
                margin-left: 1px;
            }
            p{
                font-size: 14px;
                line-height: 24px;
            }
            .grade_product_img{
                height: 140px;
            }
        }
        .grade_products,.center_product,.product_coffee{
            padding-left: 10%;
        }
        .coffee_product{
            margin-top: 40px;
            .thumbnail{
                height: 180px;
            }
            p{
                font-size: 14px;
                line-height: 24px;
            }
            .grade_product_img{
                height: 120px;
                img{
                    height: 100px;
                }
            }
        }   
        
        .coffee{
            background-color: #e3e2e2;
            .container{
                position: relative;
            }
            .line{
                width: 4px;
                height: 100px;
                background-color: red;
                position: absolute;
                top: 10px;
                left: 60px;
            }
            .decorate{
                position: absolute;
                width: 410px;
                right: 100px;
                top: -90px;
            }
            .bg_content{
                width: 90%;
                margin-top: 10px;
                padding: 30px 100px;
                font-size: 14px;
                line-height: 24px;
            }
            
        }
        .csr{
            text-align: center;
        }
        .csr_logo{
            font-size: 14px;
            line-height: 24px;
            margin-top: -30px;
            .csr_content{
                padding: 30px 110px 30px 0px;
            }
            img{
                height: 80px;
                position: relative;
                margin-top: 20px;
            }
        }
        .grade_products{
            .container{
                .small1{
                    bottom: 40px;
                    right: 40%;
                    width: 300px;
                }
            }
        }
        .center_product{
            .container{
                .small2{
                    bottom: 90px;
                    right: 26%;
                    width: 200px;
                }
            }
        }
    }
}
@media (min-width: 991px) and(max-width:1200px){
    .brand2{
        .csr_logo{
            position: relative;
            left: -100px;
        }
    }

}
@media (min-width: 768px) and(max-width:992px){
    .brand2{
        .info_product{
            margin-top: 50px;
            .embellish_coffee{
                width: 300px;
                right: 0px;
                top: -100px;
            }
            
            .info{
                p{
                    font-size: 14px;
                    line-height: 26px;
                }
                .thumbnail{
                    img{
                        height: 100px;
                    }
                }
            }
        }
        .show_grey{
            margin-top: 10px;
            li{
                height: 80px;
                padding-left: 0px;
            }
            img{
                width: 100%;
                height: 100%;
            }
        }
        .info_header{
            .container{
                // padding:10px 40px;
            }
            .leaf{
                img{
                    height: 160px;
                }
            }
            .content{
                padding: 26px 10px;
                font-size: 14px;
            }
            .shop{
                height: 160px;
                margin-top: 20px;
                img{
                    width: 120px;
                }
            }
        }
        .product{
            margin-top: 60px;
            .thumbnail{
                height: 250px;
            }
            p{
                font-size: 14px;
            }
            .grade_product_img{
                height: 160px;
                img{
                    width: 60%;
                }
            }
        }
        .coffee{
            background-color: #e3e2e2;
            .container{
                position: relative;
            }
            .line{
                width: 4px;
                height: 100px;
                background-color: red;
                top: 10px;
                left: 40px;
            }
            .decorate{
                width: 340px;
                right: -30px;
                top: -80px;
                position: absolute;
            }
            .bg_content{
                margin-top: 10px;
                padding: 20px 70px;
                font-size: 14px;
                line-height: 26px;
            }
            
        }
        .coffee_product{
            margin-top: 40px;
            .thumbnail{
                height: 220px;
            }
            p{
                font-size: 14px;
            }
            .grade_product_img{
                height: 160px;
                img{
                   height: 120px;
                }
            }
        }
        .csr_logo{
            font-size: 12px;
            line-height: 22px;
            margin-top: 0px;
            position: relative;
            left: -50px;
            .csr{
                img{
                    height: 60px;
                }
            }
        }
        .grade_products{
            .container{
                .small1{
                    bottom: 60px;
                    right: -20px;
                    width: 240px;
                }
            }
        }
        .center_product{
            .container{
                .small2{
                    display: none;
                    // z-index: -1;
                    // bottom: 90px;
                    // right: 0;
                    // width: 200px;
                }
            }
        }
    }
}
@media (min-width: 460px) and(max-width:767px){
    .brand2{
        .brand_referral{
            .bg_content_brand{
                .lactein{
                    width: 320px;
                    right: -56px;
                    bottom: -60px;
                    position: absolute;
                }
            }
        }
        .info_product{
            margin-top: 40px;
            .embellish_coffee{
                width: 300px;
                right: 0px;
                top:-100px;
            }
            
            .info{
                margin-top: 30px;
                p{
                    font-size: 14px;
                    line-height: 26px;
                }
                .thumbnail{
                    img{
                        height: 160px;
                    }
                }
            }
        }
        .show_grey{
            margin-top: 20px;
            li{
                height: 80px;
                padding-left: 0px;
            }
            img{
                width: 100%;
                height: 100%;
            }
        }
        .info_header{
            .container{
                // padding:10px 40px;
            }
            .leaf{
                img{
                    width: 60%;
                }
            }
            .content{
                padding: 50px 10px;
                font-size: 14px;
            }
            li{
                margin-top: 30px;
            }
            .shop{
                height: 160px;
                margin-top: 20px;
                img{
                    width: 130px;
                }
            }
        }
        .product{
            margin-top: 60px;
            .thumbnail{
                height: 270px;
            }
            p{
                font-size: 16px;
            }
            .grade_product_img{
                height: 210px;
                img{
                    width: 60%;
                }
            }
        }
        .coffee_product{
            margin-top: 20px;
            .thumbnail{
                height: 300px;
            }
            p{
                font-size: 14px;
            }
            .grade_product_img{
                height: 220px;
                img{
                   height: 160px;
                }
            }
        }
        .coffee{
            .logo_info{
                img{
                    height: 70px;
                }
            }
            .line{
                width: 4px;
                height: 80px;
                top: 20px;
                left: 40px;
            }
            .decorate{
                position: absolute;
                width: 320px;
                right: 30px;
                top: -60px;
            }
            .bg_content{
                margin-top: 20px;
                padding: 20px 50px;
                font-size: 14px;
                line-height: 26px;
            }
            
        }
        .csr_logo{
            font-size: 14px;
            line-height: 24px;
            margin-top: 20px;
            .csr{
                img{
                    height: 80px;
                }
            }
            .csr_content{
                padding: 10px 100px 0px 0px;
            }
        }
        .grade_products{
            .container{
                .small1{
                    bottom: 60px;
                    right: 40px;
                    width: 240px;
                }
            }
        }
        .center_product{
            .container{
                .small2{
                    bottom: 90px;
                    right: 80px;
                    width: 200px;
                }
            }
        }
    }
}
@media screen and (max-width: 460px){
    .brand2{
        .brand_referral{
            .bg_content_brand{
                .lactein{
                    width: 240px;
                    right: -40px;
                    bottom: -50px;
                    position: absolute;
                }
            }
        }
        .info_product{
            margin-top: 10px;
            .embellish_coffee{
                width: 200px;
                right: 0px;
                top:-100px;
            }
            
            .info{
                p{
                    font-size: 12px;
                    line-height: 24px;
                }
                .thumbnail{
                    img{
                        height: 140px;
                    }
                }
            }
        }
        .show_grey{
            li{
                height: 80px;
                padding-left: 0px;
            }
            img{
                width: 100%;
                height: 100%;
            }
        }
        .info_header{
            .info{
                margin-top: 20px;
            }
            .container{
                padding:10px 40px;
            }
            .leaf{
                img{
                    width:100%;
                }
            }
            .content{
                padding: 50px 10px;
                font-size: 12px;
            }
            .shop{
                height: 160px;
                margin-top: 20px;
                img{
                    width: 120px;
                }
            }
        }
        .product{
            margin-top: 60px;
            .thumbnail{
                height: 230px;
            }
            p{
                font-size: 14px;
            }
            .grade_product_img{
                height: 130px;
                img{
                    width: 80%;
                }
            }
        }
        .coffee_product{
            margin-top: 20px;
            .thumbnail{
                height: 250px;
            }
            p{
                font-size: 14px;
            }
            .grade_product_img{
                height: 210px;
                img{
                   height: 150px;
                }
            }
        }
        .coffee{
            .line{
                width: 4px;
                height: 60px;
                top: 0px;
                left: 40px;
            }
            .decorate{
                width: 220px;
                right:-30px;
                top: -50px;
                position: absolute;
            }
            .bg_content{
                padding: 20px 40px;
                font-size: 12px;
                line-height: 24px;
            }
            
        }
        .csr_logo{
            font-size: 12px;
            line-height: 24px;
            margin-top: 20px;
            .csr{
                margin-top: 10px;
                img{
                    height: 50px;
                }
            }
            .csr_content{
                padding-right:20px ;
                padding-left: 0px;
            }
        }
        .grade_products{
            .container{
                .small1{
                    bottom: 100px;
                    right: 0px;
                    width: 200px;
                }
            }
        }
        .center_product{
            .container{
                .small2{
                    bottom: 116px;
                    right: 40px;
                    width: 160px;
                }
            }
        }
    }
}