.brand .brand_center img {
  width: 100%;
}
.brand img {
  max-width: 100%;
}
.brand .brand_referral .container .bg_content {
  position: relative;
  background: url("../images/brand/bg_content.png");
  background-size: 100% 100%;
}
.brand .brand_referral .container .bg_content .content {
  text-align: center;
  color: #2d211d;
}
.brand .brand_referral .container .bg_content .content p {
  text-align: left;
}
.brand .brand_referral .container .bg_content .content .logo_lian {
  position: absolute;
  top: 0;
  left: 0;
  width: 10%;
}
.brand .brand_referral .container .bg_content .content .btn_goTb {
  display: inline-block;
  width: 40%;
}
.brand .brand_referral .container .bg_content .content .btn_goTb img {
  width: 100%;
}
.brand .brand_referral .container .bg_content .bg {
  width: 100%;
}
.brand .brand_product .product_img {
  text-align: center;
}
.brand .brand_product .product_referral {
  position: relative;
  background: url("../images/brand/bg_content.png");
  background-size: 100% 100%;
  text-align: center;
}
.brand .brand_product .product_referral .title {
  position: relative;
  height: 60px;
}
.brand .brand_product .product_referral p {
  text-align: left;
}
.brand .brand_product .product_referral .btn_buy {
  display: inline-block;
  width: 20%;
}
.brand .brand_product .product_referral .btn_buy img {
  width: 100%;
}
@media (min-width: 992px) {
  .brand .brand_referral {
    margin-top: 30px;
  }
  .brand .brand_referral .bg_content {
    text-align: center;
    width: 90%;
    margin-left: 5%;
  }
  .brand .brand_referral .content {
    text-align: center;
    padding: 40px 134px;
  }
  .brand .brand_referral .content p {
    line-height: 26px;
    font-size: 16px;
  }
  .brand .product_img img {
    width: 80%;
  }
  .brand .brand_product .content {
    font-size: 16px;
    line-height: 26px;
  }
  .brand .sweets .product_img img {
    width: 90%;
    position: relative;
    left: 100px;
    top: 100px;
    z-index: 100;
  }
  .brand .sugar .product_img img {
    width: 90%;
    position: relative;
    top: 30px;
    z-index: 100;
  }
  .brand .milkBall ul {
    position: relative;
  }
  .brand .milkBall .product_img {
    z-index: 100;
    height: 100%;
  }
  .brand .milkBall .product_img img {
    width: 80%;
    position: absolute;
    left: -80px;
    top: 60px;
  }
  .brand .product_referral {
    padding: 0px 50px 50px;
    font-size: 14px;
  }
  .brand .product_referral .title {
    top: -20px;
  }
  .brand .product_referral .btn_buy {
    margin-top: 20px;
  }
  .brand .milkBall,
  .brand .drinks,
  .brand .sweets,
  .brand .sugar {
    margin-top: 20px;
    padding: 90px 0px;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  .brand .brand_referral {
    margin-top: 30px;
  }
  .brand .brand_referral .content {
    padding: 30px 60px 30px 80px;
  }
  .brand .brand_referral .content p {
    line-height: 24px;
    text-align: left;
    font-size: 14px;
  }
  .brand .product_referral {
    padding: 0px 30px 30px;
    font-size: 16px;
  }
  .brand .product_referral .bg_content {
    width: 90%;
    margin-left: 5%;
  }
  .brand .product_referral .title {
    top: -20px;
  }
  .brand .product_referral .btn_buy {
    margin-top: 20px;
  }
  .brand .product_referral p {
    font-size: 14px;
    line-height: 24px;
  }
  .brand .milkBall,
  .brand .drinks,
  .brand .sweets,
  .brand .sugar {
    margin-top: 40px;
    padding: 40px 0px;
  }
  .brand .product_img img {
    width: 90%;
  }
  .brand .sweets .product_img img {
    width: 100%;
    position: relative;
    left: 60px;
    top: 160px;
    z-index: 100;
  }
  .brand .milkBall .product_img {
    position: relative;
    top: 180px;
    left: 290px;
    z-index: 100;
  }
  .brand .milkBall .product_img img {
    width: 90%;
  }
  .brand .sugar .product_img img {
    width: 90%;
    position: relative;
    top: 100px;
    z-index: 100;
  }
}
@media (min-width: 768px) {
  .brand .brand_center img {
    margin-top: 30px;
  }
  .brand .brand_referral {
    margin-top: 30px;
  }
  .brand .milkBall {
    background: url("../images/brand/bg_milkBall.jpg") no-repeat center center;
    background-size: auto 100%;
  }
  .brand .drinks {
    background: url("../images/brand/bg_drinks.jpg") no-repeat center center;
    background-size: auto 100%;
  }
  .brand .sweets {
    background: url("../images/brand/bg_sweets.jpg") no-repeat center center;
    background-size: auto 100%;
  }
  .brand .sugar {
    background: url("../images/brand/bg_sugar.jpg") no-repeat center center;
    background-size: auto 100%;
  }
}
@media (min-width: 460px) and (max-width: 767px) {
  .brand .brand_center img {
    margin-top: 30px;
  }
  .brand .bg_content {
    width: 100%;
  }
  .brand .brand_referral {
    margin-top: 20px;
  }
  .brand .brand_referral .bg_content {
    width: 100%;
  }
  .brand .brand_referral .content {
    padding: 20px 40px 20px 80px;
  }
  .brand .brand_referral .content p {
    text-align: left;
    line-height: 24px;
    font-size: 14px;
  }
  .brand .milkBall .product_img {
    background: url("../images/brand/bg_milkBall.jpg") no-repeat center center;
    background-size: auto 100%;
    padding: 30px 0px;
  }
  .brand .drinks .product_img {
    background: url("../images/brand/bg_drinks.jpg") no-repeat center center;
    background-size: auto 100%;
    padding: 30px 0px;
  }
  .brand .sweets .product_img {
    background: url("../images/brand/bg_sweets.jpg") no-repeat center center;
    background-size: auto 100%;
    padding: 30px 0px;
  }
  .brand .sugar .product_img {
    background: url("../images/brand/bg_sugar.jpg") no-repeat center center;
    background-size: auto 100%;
    padding: 30px 0px;
  }
  .brand .milkBall,
  .brand .drinks,
  .brand .sweets,
  .brand .sugar {
    margin-top: 30px;
  }
  .brand .product_referral {
    margin-top: 60px;
    padding: 0px 50px 50px;
  }
  .brand .product_referral .title {
    top: -20px;
  }
  .brand .product_referral .btn_buy {
    margin-top: 20px;
  }
  .brand .product_referral p {
    font-size: 14px;
  }
  .brand .product_img img {
    width: 60%;
  }
}
@media screen and (max-width: 460px) {
  .brand .brand_center img {
    margin-top: 10px;
  }
  .brand .brand_referral {
    margin-top: 20px;
  }
  .brand .brand_referral .bg_content {
    width: 100%;
  }
  .brand .brand_referral .content {
    padding: 14px 20px 20px 50px;
  }
  .brand .brand_referral .content p {
    text-align: left;
    font-size: 12px;
    line-height: 20px;
  }
  .brand .product_img img {
    width: 60%;
  }
  .brand .milkBall .product_img {
    background: url("../images/brand/bg_milkBall.jpg") no-repeat center center;
    background-size: auto 100%;
    padding: 30px 0px;
  }
  .brand .drinks .product_img {
    background: url("../images/brand/bg_drinks.jpg") no-repeat center center;
    background-size: auto 100%;
    padding: 30px 0px;
  }
  .brand .sweets .product_img {
    background: url("../images/brand/bg_sweets.jpg") no-repeat center center;
    background-size: auto 100%;
    padding: 30px 0px;
  }
  .brand .sugar .product_img {
    background: url("../images/brand/bg_sugar.jpg") no-repeat center center;
    background-size: auto 100%;
    padding: 30px 0px;
  }
  .brand .product_referral {
    margin-top: 60px;
    padding: 0px 30px 30px;
  }
  .brand .product_referral .title {
    top: -20px;
  }
  .brand .product_referral .btn_buy {
    margin-top: 20px;
  }
  .brand .product_referral p {
    font-size: 12px;
  }
  .brand .milkBall,
  .brand .drinks,
  .brand .sweets,
  .brand .sugar {
    margin-top: 20px;
  }
}
