.brand{
    .brand_center{
        img{
            width: 100%;
        }
    }
    img{
        max-width: 100%;
    }
    .brand_product{
        .product_img{
            text-align: center;
        }
        .product_referral{
            position: relative;
            background: url("../images/brand/bg_content.png");
            background-size: 100% 100%;
            text-align: center;
            .title{
                position: relative;
                height: 70px;
                // left: 30%;
                
            }
            p{
                text-align: left;
            }
            .btn_buy{
                display: inline-block;
                img{
                    width: 100%;
                }
            }
        }
    }
}
@media (min-width: 992px){
    .brand{
        .brand_referral{
            .bg_content_brand{
                width: 90%;
                margin-left: 5%;
            }
        }
        .brand_product{
            .wrapper{
                width: 90%;
                margin-left: 5%;
            }
            .content{
                text-align: center;
                font-size: 14px;
                line-height: 26px;
                
            }
        }
        .sweets{
            .product_img{
                position: relative;
                z-index: 100;
                img{
                    width: 440px;
                    position: relative;
                    left: -80px;
                    top: 140px;
                    z-index: 100;
                }
            }
        }
        .sugar{
            .product_img{
                img{
                    width: 300px;
                    position: relative;
                    top: 30px;
                    z-index: 100;
                }
            }
            
        }
        .milkBall{
            ul{
                position: relative;
            }
            .product_img{
                z-index: 100;
                height: 100%;
                img{
                    width: 350px;
                    position: absolute;
                    left: -150px;
                    top: 230px;
                    // bottom: 0px;
                }
            }
        }
        .product_referral{
            padding: 0px 50px 50px;
            font-size: 14px;
            .title{
                top: -30px;
            }
            .btn_buy{
                margin-top: 20px;
                width: 100px;
            }
        }
        .milkBall,.drinks,.sweets,.sugar{
            padding: 80px 0px;
            margin-top: 20px;
        }
        
    }
}
@media (min-width: 768px) and(max-width:992px){
    .brand{
        .brand_referral{
            margin-top: 30px;
        }
        .product_referral{
            padding:0px 30px 30px;
            font-size: 16px;
            .bg_content{
                width: 90%;
                margin-left: 5%;
            }
            .title{
                top: -20px;
            }
            .btn_buy{
                margin-top: 20px;
                width: 100px;
            }
            p{
                font-size: 14px;
                line-height: 24px;
            }
        }
        .milkBall,.drinks,.sweets,.sugar{
            margin-top: 40px;
            padding: 50px 0px;
        }
        .sweets{
            .product_img{
                position: relative;
                z-index: 100;
                img{
                    width: 100%;
                    position: relative;
                    left: -60px;
                    top: 180px;
                   
                }
            }
        }
        .milkBall{
            .product_img{
                position: relative;
                top: 260px;
                left: 240px;
                z-index: 100;
                img{
                    width: 300px;
                }
            }
        }
        .sugar{
            .product_img{
                img{
                    width: 240px;
                    position: relative;
                    top: 100px;
                    z-index: 100;
                }
            }
        }
    }
}
@media (min-width: 768px){
    .brand{
        
        .brand_referral{
            margin-top: 30px;
        }
        .milkBall{
            background: url("../images/brand/bg_milkBall.jpg") no-repeat center center;
            background-size:auto 100%;
        }
        .drinks{
            background: url("../images/brand/bg_drinks.jpg") no-repeat center center;
            background-size:auto 100%;
        }
        .sweets{
            background: url("../images/brand/bg_sweets.jpg") no-repeat center center;
            background-size:auto 100%;
        }
        .sugar{
            background: url("../images/brand/bg_sugar.jpg") no-repeat center center;
            background-size:auto 100%;
        }
    }
}
@media (min-width: 460px) and(max-width:767px){
    .brand{
        .bg_content{
            width: 100%;
        }
        .brand_referral{
            margin-top: 20px;
            
        }
        .milkBall{
            .product_img{
                background: url("../images/brand/bg_milkBall.jpg") no-repeat center center;
                background-size: auto 100%;
                padding: 30px 0px;
            }
        }
        .drinks{
            .product_img{
                background: url("../images/brand/bg_drinks.jpg") no-repeat center center;
                background-size: auto 100%;
                padding: 30px 0px;
            }
        }
        .sweets{
            .product_img{
                background: url("../images/brand/bg_sweets.jpg") no-repeat center center;
                background-size: auto 100%;
                padding: 30px 0px;
            }
        }
        .sugar{
            .product_img{
                background: url("../images/brand/bg_sugar.jpg") no-repeat center center;
                background-size: auto 100%;
                padding: 30px 0px;
            }
        }
        .milkBall,.drinks,.sweets,.sugar{
            margin-top: 30px;
        }
        .product_referral{
            margin-top: 60px;
            padding:0px 50px 50px;
            .title{
                top: -20px;
            }
            .btn_buy{
                margin-top: 20px;
                width: 120px;
            }
            p{
                font-size: 14px;
            }
        }
        .product_img{
            img{
                width: 60%;
            }
        }
        
    }
}
@media screen and (max-width: 460px){
    .brand{
        .brand_referral{
            margin-top: 20px;
        }
        .product_img{
            img{
                width: 60%;
            }
        }
        .milkBall{
            .product_img{
                background: url("../images/brand/bg_milkBall.jpg") no-repeat center center;
                background-size: auto 100%;
                padding: 30px 0px;
            }
        }
        .drinks{
            .product_img{
                background: url("../images/brand/bg_drinks.jpg") no-repeat center center;
                background-size: auto 100%;
                padding: 30px 0px;
            }
        }
        .sweets{
            .product_img{
                background: url("../images/brand/bg_sweets.jpg") no-repeat center center;
                background-size: auto 100%;
                padding: 30px 0px;
            }
        }
        .sugar{
            .product_img{
                background: url("../images/brand/bg_sugar.jpg") no-repeat center center;
                background-size: auto 100%;
                padding: 30px 0px;
            }
        }
        .product_referral{
            margin-top:60px;
            padding: 0px 30px 30px;
            .title{
                top: -20px;
                height: 60px!important;
            }
            .btn_buy{
                margin-top: 20px;
                width: 100px;
            }
            p{
                font-size: 12px;
                line-height: 22px;
            }
        }
        .milkBall,.drinks,.sweets,.sugar{
            margin-top: 20px;
        }
    }
}