.brand{
    .brand_center{
        img{
            width: 100%;
        }
    }
    img{
        max-width: 100%;
    }
    .brand_referral{
        .container{
            .bg_content{
                position: relative;
                background: url("../images/brand/bg_content.png");
                background-size:100% 100%;
                .content{
                    text-align: center;
                    color: #2d211d;
                    p{
                        text-align: left;
                    }
                    .logo_lian{
                        position: absolute;
                        top: 0;
                        left:0;
                        width: 10%;
                    }
                    .btn_goTb{
                        display: inline-block;
                        width: 40%;
                        img{
                            width: 100%;
                        }
                    }
                }
                .bg{
                    width: 100%;
                }
            }
        }
    }
    .brand_product{
        
        .product_img{
            text-align: center;
        }
        .product_referral{
            position: relative;
            background: url("../images/brand/bg_content.png");
            background-size: 100% 100%;
            text-align: center;
            .title{
                position: relative;
                height: 60px;
                // left: 30%;
                
            }
            p{
                text-align: left;
            }
            .btn_buy{
                display: inline-block;
                width: 20%;
                img{
                    width: 100%;
                }
            }
        }
    }
}
@media (min-width: 992px){
    .brand{
        .brand_referral{
            margin-top: 30px;
            .bg_content{
                text-align: center;
                width: 90%;
                margin-left: 5%;
            }
            .content{
                text-align: center;
                padding: 40px 134px;
                p{
                    line-height:26px;
                    font-size: 16px;
                }
                
            }
        }
        .product_img{
            img{
                width: 80%;
            }
        }
        .brand_product{
            .content{
                font-size: 16px;
                line-height: 26px;
            }
        }
        .sweets{
            .product_img{
                img{
                    width: 90%;
                    position: relative;
                    left: 100px;
                    top: 100px;
                    z-index: 100;
                }
            }
        }
        .sugar{
            .product_img{
                img{
                    width: 90%;
                    position: relative;
                    top: 30px;
                    z-index: 100;
                }
            }
        }
        .milkBall{
            ul{
                position: relative;
            }
            .product_img{
                z-index: 100;
                height: 100%;
                img{
                    width: 80%;
                    position: absolute;
                    left: -80px;
                    top: 60px;
                    // bottom: 0px;
                }
            }
        }
        .product_referral{
            padding: 0px 50px 50px;
            font-size: 14px;
            .title{
                top: -20px;
            }
            .btn_buy{
                margin-top: 20px;
            }
        }
        .milkBall,.drinks,.sweets,.sugar{
            margin-top: 20px;
            padding: 90px 0px;
        }
        
    }
}
@media (min-width: 768px) and(max-width:992px){
    .brand{
        .brand_referral{
            margin-top: 30px;
            .content{
                padding: 30px 60px 30px 80px;
                p{
                    line-height:24px;
                    text-align: left;
                    font-size: 14px;
                }
                
            }
        }
        .product_referral{
            padding:0px 30px 30px;
            font-size: 16px;
            .bg_content{
                width: 90%;
                margin-left: 5%;
            }
            .title{
                top: -20px;
            }
            .btn_buy{
                margin-top: 20px;
            }
            p{
                font-size: 14px;
                line-height: 24px;
            }
        }
        .milkBall,.drinks,.sweets,.sugar{
            margin-top: 40px;
            padding: 40px 0px;
        }
        .product_img{
            img{
                width: 90%;
            }
        }
        .sweets{
            .product_img{
                img{
                    width: 100%;
                    position: relative;
                    left: 60px;
                    top: 160px;
                    z-index: 100;
                }
            }
        }
        .milkBall{
            .product_img{
                position: relative;
                top: 180px;
                left: 290px;
                z-index: 100;
                img{
                    width: 90%;
                }
            }
        }
        .sugar{
            .product_img{
                img{
                    width: 90%;
                    position: relative;
                    top: 100px;
                    z-index: 100;
                }
            }
        }
    }
}
@media (min-width: 768px){
    .brand{
        .brand_center{
            img{
                margin-top:30px;
            }
        }
        .brand_referral{
            margin-top: 30px;
        }
        .milkBall{
            background: url("../images/brand/bg_milkBall.jpg") no-repeat center center;
            background-size:auto 100%;
        }
        .drinks{
            background: url("../images/brand/bg_drinks.jpg") no-repeat center center;
            background-size:auto 100%;
        }
        .sweets{
            background: url("../images/brand/bg_sweets.jpg") no-repeat center center;
            background-size:auto 100%;
        }
        .sugar{
            background: url("../images/brand/bg_sugar.jpg") no-repeat center center;
            background-size:auto 100%;
        }
    }
}
@media (min-width: 460px) and(max-width:767px){
    .brand{
        .brand_center{
            img{
                margin-top:30px;
            }
        }
        .bg_content{
            width: 100%;
        }
        .brand_referral{
            margin-top: 20px;
            .bg_content{
                width: 100%;
            }
            .content{
                padding: 20px 40px 20px 80px;
                p{
                    text-align: left;
                    line-height: 24px;
                    font-size: 14px;
                }
            }
        }
        .milkBall{
            .product_img{
                background: url("../images/brand/bg_milkBall.jpg") no-repeat center center;
                background-size: auto 100%;
                padding: 30px 0px;
            }
        }
        .drinks{
            .product_img{
                background: url("../images/brand/bg_drinks.jpg") no-repeat center center;
                background-size: auto 100%;
                padding: 30px 0px;
            }
        }
        .sweets{
            .product_img{
                background: url("../images/brand/bg_sweets.jpg") no-repeat center center;
                background-size: auto 100%;
                padding: 30px 0px;
            }
        }
        .sugar{
            .product_img{
                background: url("../images/brand/bg_sugar.jpg") no-repeat center center;
                background-size: auto 100%;
                padding: 30px 0px;
            }
        }
        .milkBall,.drinks,.sweets,.sugar{
            margin-top: 30px;
        }
        .product_referral{
            margin-top: 60px;
            padding:0px 50px 50px;
            .title{
                top: -20px;
            }
            .btn_buy{
                margin-top: 20px;
            }
            p{
                font-size: 14px;
            }
        }
        .product_img{
            img{
                width: 60%;
            }
        }
        
    }
}
@media screen and (max-width: 460px){
    .brand{
        .brand_center{
            img{
                margin-top:10px;
            }
        }
        .brand_referral{
            margin-top: 20px;
            .bg_content{
                width: 100%;
            }
            .content{
                padding: 14px 20px 20px 50px;
                p{
                    text-align: left;
                    font-size: 12px;
                    line-height: 20px;
                }
                
            }
        }
        .product_img{
            img{
                width: 60%;
            }
        }
        .milkBall{
            .product_img{
                background: url("../images/brand/bg_milkBall.jpg") no-repeat center center;
                background-size: auto 100%;
                padding: 30px 0px;
            }
        }
        .drinks{
            .product_img{
                background: url("../images/brand/bg_drinks.jpg") no-repeat center center;
                background-size: auto 100%;
                padding: 30px 0px;
            }
        }
        .sweets{
            .product_img{
                background: url("../images/brand/bg_sweets.jpg") no-repeat center center;
                background-size: auto 100%;
                padding: 30px 0px;
            }
        }
        .sugar{
            .product_img{
                background: url("../images/brand/bg_sugar.jpg") no-repeat center center;
                background-size: auto 100%;
                padding: 30px 0px;
            }
        }
        .product_referral{
            margin-top:60px;
            padding: 0px 30px 30px;
            .title{
                top: -20px;
            }
            .btn_buy{
                margin-top: 20px;
            }
            p{
                font-size: 12px;
            }
        }
        .milkBall,.drinks,.sweets,.sugar{
            margin-top: 20px;
        }
    }
}