html,body{
    width: 100%;
    overflow-x: hidden;
}
.brand3{
    img{
        max-width: 100%;
        vertical-align: middle;
    }
    .bg{
        background: url("../images/brand2/bg.jpg") no-repeat top;
        background-size: 100%;
    }
    .brand_center{
        img{
            width: 100%;
        }
    }
    .brand_referral{
        .container{
            .bg_content_brand{
                .lactein{
                    position: absolute;
                }
                .content{
                    text-align: left;
                }
            }
        }
    }
    .info_product{
        .info{
            color: #2d211d;
            position: relative;
            img{
                position: absolute;
                z-index: -1;
            }
        }
        .biolac{
            text-align: left;
            color: #221714;
            font-family: '宋体';
            .thumbnail{
                border: none;
                background-color: transparent;
                box-sizing: border-box;
                .biolac_wrapper{
                    display: -webkit-box;
                    display: -webkit-flex;
                    display: -ms-flexbox;
                    display: flex;
                    .biolac-left{
                        -webkit-box-flex: 0 0 140px;
                        -webkit-flex: 0 0 140px;
                        -ms-flex: 0 0 140px;
                        flex: 0 0 140px;
                    }
                    .biolac-body{
                        -webkit-box-flex: 1;
                        -webkit-flex: 1;
                        -ms-flex: 1;
                        flex: 1;
                    }
                }
            }
            .t{
                display: inline-block;
                width: 60%;
                color: #231815;
                font-weight: 700;
                text-align: center;
            }
            p{
                // width: 140px;
                text-align: left;
                color: #231815;
            }
        }
    }
    .hs{
        background: url("../images/brand3/cake.jpg") no-repeat center center;
    }
    .hed{
        background: url("../images/brand3/bg_hed.jpg") no-repeat center center;
    }
    .h{
        background: url("../images/brand3/bg_q.jpg") no-repeat center center;
    }
    .product_section{
        background-size: auto 100%;
        .intro{
            background: url("../images/brand/bg_content.png") no-repeat center center;
            background-size: 100% 100%;
            position: relative;
            color: #221714;
            .logo{
                position: absolute;
            }
            .c{
                position: absolute;
            }
            .btn_buy{
                width: 120px;
                display: inline-block;
            }
        }
        .info{
            color: white;
            text-shadow: 1px 1px 1px #000;
            .product_show{
                text-align: center;
                .thumbnail{
                    border: none;
                    background-color: transparent;
                    div{
                        display: inline-block;
                        .img{
                            img{
                                position: relative;
                                top: 50%;
                                bottom: 50%;
                                transform: translateY(-50%);
                                -ms-transform: translateY(-50%);
                                -moz-transform: translateY(-50%);
                                -webkit-transform: translateY(-50%);
                                -o-transform: translateY(-50%);
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (min-width: 992px){
    .brand3{
        .brand_referral{
            margin-top: 30px;
            .bg_content_brand{
                margin-top: -80px;
                .lactein{
                    width: 500px;
                    right: -100px;
                    bottom: -130px;
                    position: absolute;
                }
                .btn_buy{
                    display: inline-block;
                    width: 140px;
                    margin-top: 30px;
                }
            }
        }
        .info_product{
            margin-top: 60px;
            .info{
                width: 84%;
                line-height: 24px;
                font-size: 14px;
                img{
                    width: 140px;
                    left: 54%;
                    top: -80px;
                }
            }
            .biolac{
                margin-top: 40px;
                .t{
                    font-size: 20px;
                    line-height: 60px;
                     
                }
                p{
                    font-size: 14px;
                    line-height: 24px;
                }
                .media-heading{
                    font-size: 16px;
                    font-weight: 700;
                }
                .biolac-body{
                    padding-left: 30px;
                    padding-top: 30px;
                }
            }
        }
        .product_section{
            padding: 100px 0px;
            margin-top: 40px;
            .intro{
                font-size: 14px;
                line-height: 34px;
                padding: 30px 260px 50px 200px;
                .logo{
                    width: 140px;
                    left: 10px;
                    top: 0;
                }
                .c{
                    width: 200px;
                    right: 0;
                    bottom: 8px;
                }
                .btn_buy{
                    margin-top: 20px;
                }
                
            }
            .info{
                margin-top: 50px;
                padding-left: 15px;
                p{
                    font-size: 14px;
                    line-height: 24px;
                }
                .product_show{
                    margin-left: 10%;
                    .thumbnail{
                        .img{
                            text-align: center;
                            height: 230px;
                            padding: 10px;
                            // img{
                            //     width: 70%;
                            // }
                        }
                    }
                }
            }
        }
        .hed{
            .product_show{
                margin-top: 0px;
                .img{
                    text-align: center;
                    height: 230px;
                    img{
                        height: 210px;
                    }
                }
            }
        }
    }
}
@media (min-width: 991px) and(max-width:1200px){
    .brand3{
        .info_product{
            .info{
                padding: 30px;
            }
            ul{
                padding: 30px;
            }
            
        }
    }

}
@media (min-width: 768px) and(max-width:992px){
    .brand3{
        .brand_referral{
            margin-top: 30px;
            .bg_content_brand{
                margin-top:-80px;
                .lactein{
                    width: 360px;
                    right: -70px;
                    bottom: -70px;
                    position: absolute;
                }
                .btn_buy{
                    display: inline-block;
                    width: 140px;
                    margin-top: 30px;
                }
            }
        }
        .info_product{
            margin-top: 30px;
            .info{
                width: 94%;
                line-height: 24px;
                font-size: 14px;
                padding-top: 0px;
                img{
                    width: 120px;
                    left: 60%;
                    top: -60px;
                }
            }
            .biolac{
                margin-top: 40px;
                .t{
                    font-size: 24px;
                    line-height: 60px;
                    text-align: center;
                    padding-left: 0px;
                }
                p{
                    font-size: 14px;
                    line-height: 24px;
                }
                .media-heading{
                    font-size: 16px;
                    font-weight: 700;
                }
                .biolac-body{
                    padding-left: 30px;
                    padding-top: 30px;
                }
            }
           
        }
        .product_section{
            padding: 40px 0px;
            margin-top: 40px;
            .intro{
                font-size: 14px;
                line-height:30px;
                padding: 30px 170px 30px 160px;
                .logo{
                    width: 120px;
                    left: 10px;
                    top: 0;
                }
                .btn_buy{
                    margin-top: 20px;
                }
                .c{
                    width: 160px;
                    right: 0;
                    bottom: 8px;
                }
            }
            .info{
                margin-top: 50px;
                p{
                    font-size: 12px;
                    line-height: 22px;
                }
                .product_show{
                    .thumbnail{
                        .img{
                            height: 200px;
                            padding: 10px;
                        }
                    }
                }
            }
        }
        .hed{
            .product_show{
                margin-top: 0px;
                .img{
                    text-align: center;
                    height: 230px;
                    img{
                        height: 200px;
                    }
                }
            }
        }
    }

}
@media (min-width: 460px) and(max-width:767px){
    .brand3{
        .brand_referral{
            margin-top: 20px;
            .bg_content_brand{
                margin-top: -60px;
                .lactein{
                    width: 240px;
                    right: -46px;
                    bottom: -60px;
                    position: absolute;
                }
                .btn_buy{
                    margin-top: 10px;
                    display: inline-block;
                    width: 100px;
                }
            }
        }
        .info_product{
            margin-top: 30px;
            .info{
                width: 94%;
                line-height: 24px;
                font-size: 14px;
                padding-left: 15px;
                img{
                    width: 120px;
                    left: 60%;
                    top: -40px;
                }
            }
            .biolac{
                margin-top: 40px;
                li{
                    margin-left: 160px;
                }
                .t{
                    font-size: 24px;
                    line-height: 60px;
                    padding-left: 0px;
                }
                p{
                    font-size: 14px;
                    line-height: 24px;
                }
                .media-heading{
                    font-size: 16px;
                    font-weight: 700;
                }
                .biolac-body{
                    padding-left: 20px;
                    padding-top: 30px;
                }
            }
        }
        .product_section{
            padding: 40px 0px;
            margin-top: 40px;
            .intro{
                font-size: 14px;
                line-height: 26px;
                padding: 70px 100px;
                .logo{
                    width: 120px;
                    left: 10px;
                    top: 0;
                }
                .c{
                    width: 160px;
                    right: 0;
                    bottom: 8px;
                }
            }
            .info{
                margin-top: 30px;
                p{
                    font-size: 14px;
                    line-height: 24px;
                }
                .product_show{
                    .thumbnail{
                        .img{
                            height: 200px;
                        }
                    }
                }
            }

        }
        .hs,.h{
            .product_show{
                .thumbnail{
                    .img{
                        img{
                            width: 40%;
                        }
                    }
                }
            }
        }
        .hed{
            .product_show{
                margin-top: 0px;
                .img{
                    text-align: center;
                    height: 150px;
                    img{
                        height: 160px;
                        // width: 40%;
                    }
                }
            }
        }
        .h{
            .intro{
                padding: 110px 100px 70px 100px;
            }
        }
    }
}
@media screen and (max-width: 460px){
    .brand3{
        .brand_referral{
            margin-top: 20px;
            .bg_content_brand{
                width: 100%;
                margin-top: -50px;
                .lactein{
                    width: 240px;
                    right: -40px;
                    bottom: -50px;
                    position: absolute;
                }
                .btn_buy{
                    display: inline-block;
                    width: 100px;
                    margin-top: 10px;
                }
            }
        }
        .info_product{
            margin-top: 40px;
            .info{
                width: 94%;
                font-size: 12px;
                line-height: 22px;
                img{
                    width: 120px;
                    left: 70%;
                }
            }
            .biolac{
                margin-top: 40px;
                .t{
                    line-height: 60px;
                }
                p{
                    font-size: 12px;
                    line-height: 22px;
                }
                .media-heading{
                    font-size: 14px;
                    font-weight: 700;
                }
                .biolac-body{
                    padding-left: 20px;
                    padding-top: 30px;
                }
            }
            
        }
        .product_section{
            .intro{
                font-size: 14px;
                padding: 90px 140px;
                .logo{
                    width: 170px;
                    left: 30px;
                    top: 0;
                }
                
            }
        }
        .product_section{
            padding: 20px 0px;
            margin-top: 40px;
            
            .intro{
                font-size: 14px;
                line-height: 24px;
                padding: 60px 30px;
                .logo{
                    width: 90px;
                    left: 10px;
                    top: 0;
                }
                .btn_buy{
                    margin-top: 10px;
                    display: inline-block;
                    width: 100px;
                }
                .c{
                    width: 110px;
                    right: 0;
                    bottom: 8px;
                }
            }
            .info{
                margin-top: 30px;
                p{
                    font-size: 12px;
                    line-height: 22px;
                }
                .product_show{
                    .thumbnail{
                        .img{
                            height: 200px;
                        }
                    }
                }
            }
        }
        .hs,.h{
            .product_show{
                .thumbnail{
                    .img{
                        width: 60%;
                    }
                }
            }
        }
        .hed{
            .product_show{
                margin-top: 0px;
                .img{
                    text-align: center;
                    height: 150px;
                    img{
                        height: 140px;
                    }
                }
            }
        }
        .h{
            .intro{
                padding: 90px 30px 50px 30px;
            }
        }
    }
}