.brand5 img {
  vertical-align: middle;
}
.brand5 .brand_center img {
  width: 100%;
}
.brand5 .bg {
  background-image: url("../images/brand5/bg.jpg");
  background-size: 100% auto;
}
.brand5 .brand_referral .container .bg_content_brand {
  position: relative;
}
.brand5 .brand_referral .container .bg_content_brand .flower {
  width: 18%;
  position: absolute;
  right: -10px;
  bottom: -20px;
}
.brand5 .info_product .info {
  color: #2d211d;
}
.brand5 .info_product .product {
  color: #231815;
}
.brand5 .info_product .product .btn_buy {
  width: 100px;
  display: inline-block;
}
.brand5 .info_product .product .img_product {
  text-align: center;
}
.brand5 .info_product .product ul {
  position: relative;
}
.brand5 .info_product .product ul .indigo_img {
  position: absolute;
}
.brand5 .info_product .product ul:nth-child(2),
.brand5 .info_product .product ul:nth-child(4) {
  text-align: right;
}
@media (min-width: 992px) {
  .brand5 .bg {
    background-position: 0px -400px;
  }
  .brand5 .bg_content_brand .content {
    padding: 25px 260px 25px 140px;
  }
  .brand5 .brand_referral {
    margin-top: 30px;
  }
  .brand5 .info_product {
    margin-top: 60px;
  }
  .brand5 .info_product .product,
  .brand5 .info_product .product_title {
    width: 80%;
    margin-left: 10%;
  }
  .brand5 .info_product .info {
    line-height: 24px;
    font-size: 14px;
  }
  .brand5 .info_product .img_product img {
    width: 423px;
  }
  .brand5 .info_product .indigo_img {
    width: 200px;
    right: 26px;
    bottom: -80px;
  }
  .brand5 .info_product .product ul {
    margin: 100px auto;
  }
  .brand5 .info_product .product ul li {
    padding-left: 0px;
    padding-right: 0px;
  }
  .brand5 .info_product .product p {
    font-size: 14px;
    line-height: 20px;
  }
}
@media (min-width: 1200px) {
  .brand5 .bg {
    background-position: 0px -1100px;
  }
}
@media (min-width: 991px) and (max-width: 1200px) {
  .brand5 .bg {
    background-position: 0px -400px;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  .brand5 .brand_referral {
    margin-top: 30px;
  }
  .brand5 .info_product .product ul {
    margin: 60px auto;
  }
  .brand5 .info_product .product ul li {
    padding-left: 0;
    padding-right: 0;
  }
  .brand5 .info_product .product p {
    font-size: 14px;
    line-height: 24px;
  }
  .brand5 .info_product .product .img_product img {
    max-width: 420px;
    width: 420px;
  }
  .brand5 .product_title .info {
    font-size: 14px;
    line-height: 24px;
  }
  .brand5 .info_product {
    margin-top: 30px;
  }
  .brand5 .info_product .indigo_img {
    width: 140px;
    right: 0px;
    bottom: -70px;
  }
}
@media (min-width: 768px) {
  .brand5 .brand_referral {
    margin-top: 30px;
  }
}
@media (min-width: 460px) and (max-width: 767px) {
  .brand5 .brand_referral {
    margin-top: 20px;
  }
  .brand5 .info_product {
    margin-top: 40px;
  }
  .brand5 .info_product .info {
    width: 94%;
    line-height: 24px;
    margin-top: 0px;
    font-size: 14px;
    padding-left: 15px;
  }
  .brand5 .info_product .product ul {
    margin: 100px auto;
    position: relative;
  }
  .brand5 .info_product .product ul .img_product {
    position: absolute;
  }
  .brand5 .info_product .product ul .img_product img {
    width: 70%;
  }
  .brand5 .info_product .product ul:nth-child(1) {
    margin-top: 50px;
  }
  .brand5 .info_product .product ul:nth-child(1) .img_product,
  .brand5 .info_product .product ul:nth-child(3) .img_product {
    text-align: right;
  }
  .brand5 .info_product .product ul:nth-child(2) .img_product,
  .brand5 .info_product .product ul:nth-child(4) .img_product {
    text-align: left;
  }
  .brand5 .info_product .product p {
    font-size: 14px;
    line-height: 20px;
  }
  .brand5 .indigo_img {
    width: 130px;
    right: 0px;
    bottom: -100px;
  }
}
@media screen and (max-width: 460px) {
  .brand5 .brand_referral {
    margin-top: 20px;
  }
  .brand5 .info_product {
    margin-top: 40px;
  }
  .brand5 .info_product .info {
    width: 94%;
    line-height: 22px;
    font-size: 12px;
  }
  .brand5 .info_product .product ul {
    margin: 40px auto;
  }
  .brand5 .info_product .product ul li {
    padding-left: 0px;
    padding-right: 0px;
  }
  .brand5 .info_product .product ul .img_product {
    position: absolute;
  }
  .brand5 .info_product .product ul .img_product img {
    width: 80%;
  }
  .brand5 .info_product .product ul:nth-child(1) .img_product,
  .brand5 .info_product .product ul:nth-child(3) .img_product {
    text-align: right;
  }
  .brand5 .info_product .product ul:nth-child(1) .img_product {
    margin-top: 100px;
  }
  .brand5 .info_product .product ul:nth-child(2) .img_product {
    margin-top: 100px;
    margin-right: 20px;
  }
  .brand5 .info_product .product ul:nth-child(3) .img_product {
    margin-top: 120px;
  }
  .brand5 .info_product .product ul:nth-child(4) .img_product {
    margin-top: 20px;
  }
  .brand5 .info_product .product ul:nth-child(2) .img_product,
  .brand5 .info_product .product ul:nth-child(4) .img_product {
    text-align: left;
  }
  .brand5 .info_product .product p {
    font-size: 12px;
    line-height: 22px;
  }
  .brand5 .info_product .product img {
    vertical-align: bottom;
  }
  .brand5 .indigo_img {
    width: 110px;
    left: 0px;
    bottom: -40px;
  }
}
