.brand5{
    img{
        // max-width: 100%;
        vertical-align: middle;
    }
    .brand_center{
        img{
            width: 100%;
        }
    }
    .bg{
        background-image: url("../images/brand5/bg.jpg");
        background-size: 100% auto;
    }
    .brand_referral{
        .container{
            .bg_content_brand{
                position: relative;
                .flower{
                    width: 18%;
                    position: absolute;
                    right: -10px;
                    bottom: -20px;
                }
            }
        }
    }
    .info_product{
        .info{
            color: #2d211d;
            
        }
        .product{
            color: #231815;
            .btn_buy{
                width: 100px;
                display: inline-block;
            }
            .img_product{
                text-align: center;
                
            }
            ul{
                position: relative;
                .indigo_img{
                    position: absolute;
                    
                }
            }
            ul:nth-child(2),ul:nth-child(4){
                text-align: right;
            }
        }
    }
}
// @media (min-width: 1401px){
//     .brand5{
//         .indigo_img{
//             width: 200px;
//             right: 0px;
//             right: -120px!important;
//         }
//     }
// }
@media (min-width: 992px){
    .brand5{
        .bg{
            background-position: 0px -400px ;
        }
        .bg_content_brand{
            .content{
                padding: 25px 260px 25px 140px;
            }
        }
        .brand_referral{
            margin-top: 30px;
        }
        .info_product{
            margin-top: 60px;
            // padding: 0% 13%;
            .product,.product_title{
                width: 80%;
                margin-left: 10%;
            }
            .info{
                line-height: 24px;
                font-size: 14px;
            }
            .img_product{
                img{
                    width: 423px;
                }
            }
            .indigo_img{
                width: 200px;
                right: 26px;
                bottom: -80px;
            }
            .product{
                ul{
                    margin: 100px auto;
                    li{
                        padding-left: 0px;
                        padding-right: 0px;
                    }
                }
                p{
                    font-size: 14px;
                    line-height: 20px;
                }
                
            }
            
        }
        
    }
}
@media (min-width: 1200px){
    .brand5{
        .bg{
            background-position: 0px -1100px ;
        }
 }
}
 @media (min-width: 991px) and(max-width:1200px){
    .brand5{
            .bg{
                background-position: 0px -400px ;
            }
     }
 }
@media (min-width: 768px) and(max-width:992px){
    .brand5{
        .brand_referral{
            margin-top: 30px;
        }
        .info_product{
            .product{
                ul{
                    margin: 60px auto;
                    li{
                        padding-left: 0;
                        padding-right: 0;
                    }
                }
                p{
                    font-size: 14px;
                    line-height: 24px;
                }
                .img_product{
                    img{
                        max-width: 420px;
                        width: 420px;
                    }
                }
                
            }
        }
        .product_title {
            .info{
                font-size: 14px;
                line-height: 24px;
            }
        }
        .info_product{
            margin-top: 30px;
            .indigo_img{
                width: 140px;
                right: 0px;
                bottom: -70px;
            }
        }
    }

}
@media (min-width: 768px){
    .brand5{
        .brand_referral{
            margin-top: 30px;
        }
        

    }
}
@media (min-width: 460px) and(max-width:767px){
    .brand5{
        .brand_referral{
            margin-top: 20px;
        }
        .info_product{
            margin-top: 40px;
            .info{
                width: 94%;
                line-height: 24px;
                margin-top: 0px;
                font-size: 14px;
                padding-left: 15px;
            }
            .product{
                ul{
                    margin: 100px auto;
                    position: relative;
                    .img_product{
                        position: absolute;
                        img{
                            width: 70%;
                        }
                    }
                }
                ul:nth-child(1){
                    margin-top: 50px;
                }
                ul:nth-child(1),ul:nth-child(3){
                    .img_product{
                        text-align: right;
                    }
                }
                ul:nth-child(2),ul:nth-child(4){
                    .img_product{
                    text-align: left;
                    }
                }
                p{
                    font-size: 14px;
                    line-height: 20px;
                }
            }
        }
        .indigo_img{
            width: 130px;
            right: 0px;
            bottom: -100px;
        }
    }
}
@media screen and (max-width: 460px){
    .brand5{
        .brand_referral{
            margin-top: 20px;
        }
        .info_product{
            margin-top: 40px;
            .info{
                width: 94%;
                line-height: 22px;
                font-size: 12px;
            }
            .product{
                ul{
                    margin: 40px auto;
                    li{
                        padding-left: 0px;
                        padding-right: 0px;
                    }
                    .img_product{
                        position: absolute;
                        img{
                            width: 80%;
                        }
                    }
                }
                ul:nth-child(1),ul:nth-child(3){
                    .img_product{
                        text-align: right;
                    }
                }
                ul:nth-child(1){
                    .img_product{
                        margin-top: 100px;
                    }
                }
                ul:nth-child(2){
                    .img_product{
                        margin-top: 100px;
                        margin-right: 20px;
                    }
                }
                ul:nth-child(3){
                    .img_product{
                        margin-top: 120px;
                    }
                }
                ul:nth-child(4){
                    .img_product{
                        margin-top: 20px;
                    }
                }
                ul:nth-child(2),ul:nth-child(4){
                    .img_product{
                        text-align: left;
                    }
                }
                p{
                    font-size: 12px;
                    line-height: 22px;
                }
                img{
                    vertical-align: bottom;
                }
            }
            
        }
        .indigo_img{
            width: 110px;
            left: 0px;
            bottom: -40px;
        }
    }
}