html,
body {
  width: 100%;
  overflow-x: hidden;
}
.brand2 img {
  max-width: 100%;
  vertical-align: middle;
}
.brand2 .bg {
  background: url("../images/brand2/bg.jpg") no-repeat top;
  background-size: 100%;
}
.brand2 .brand_center img {
  width: 100%;
}
.brand2 .brand_referral .container .bg_content_brand .lactein {
  position: absolute;
}
.brand2 .info_product .container {
  position: relative;
}
.brand2 .info_product .embellish_coffee {
  position: absolute;
}
.brand2 .info_product .info {
  color: #2d211d;
  position: relative;
}
.brand2 .info_product .info .thumbnail {
  text-align: center;
  border: none;
  background-color: transparent;
}
.brand2 .info_product .info .thumbnail img {
  height: 84px;
}
.brand2 .info_product .show_grey img {
  width: 100%;
  height: 100%;
}
.brand2 .grade {
  background-color: #113484;
}
.brand2 .strict {
  background-color: #0e8e41;
}
.brand2 .strict p {
  text-align: left;
}
.brand2 .strict .shop {
  text-align: right;
}
.brand2 .classics {
  background-color: #6c5539;
}
.brand2 .coffee {
  padding: 20px 0px;
  background-color: #e3e2e2;
  color: #221714;
}
.brand2 .coffee .container {
  position: relative;
}
.brand2 .coffee .line {
  background-color: red;
  position: absolute;
}
.brand2 .coffee .referral .container {
  position: relative;
}
.brand2 .coffee .referral .decorate {
  position: absolute;
}
.brand2 .coffee .referral .bg_content {
  background: url("../images/brand/bg_content.png") no-repeat center;
  background-size: 100% 100%;
}
.brand2 .info_header .content {
  text-align: right;
  color: white;
}
.brand2 .info_header .leaf {
  text-align: center;
}
.brand2 .product,
.brand2 .coffee_product {
  text-align: center;
  color: #221714;
}
.brand2 .product span,
.brand2 .coffee_product span {
  display: block;
}
.brand2 .product .thumbnail,
.brand2 .coffee_product .thumbnail {
  border: none;
  background-color: transparent;
}
.brand2 .product .grade_product_img img,
.brand2 .coffee_product .grade_product_img img {
  position: relative;
  top: 50%;
  bottom: 50%;
  transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}
.brand2 .coffee_product p .small {
  color: grey;
}
.brand2 .csr_logo .csr {
  text-align: center;
}
.brand2 .product .row li,
.brand2 .coffee_product .row li {
  cursor: pointer;
  transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  /* Firefox 4 */
  -webkit-transition: all 0.3s linear;
  /* Safari 和 Chrome */
  -o-transition: all 0.3s linear;
}
.brand2 .product .row li .img_shop,
.brand2 .coffee_product .row li .img_shop {
  overflow: hidden;
}
.brand2 .product .row li img,
.brand2 .coffee_product .row li img {
  transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  /* Firefox 4 */
  -webkit-transition: all 0.3s linear;
  /* Safari 和 Chrome */
  -o-transition: all 0.3s linear;
}
.brand2 .product .row li:hover,
.brand2 .coffee_product .row li:hover {
  transform: scale(1.1);
  -ms-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -o-transform: scale(1.1);
}
.brand2 .grade_products .container {
  position: relative;
}
.brand2 .grade_products .container .small1 {
  position: absolute;
}
.brand2 .center_product .container {
  position: relative;
}
.brand2 .center_product .container .small2 {
  position: absolute;
}
@media (min-width: 1200px) {
  .brand2 .thumbnail img {
    height: 84px;
  }
}
@media (min-width: 992px) {
  .brand2 .thumbnail img {
    height: 90px;
  }
  .brand2 .brand_referral {
    margin-top: 30px;
  }
  .brand2 .brand_referral .bg_content_brand {
    width: 90%;
  }
  .brand2 .info_product {
    margin-top: 60px;
  }
  .brand2 .info_product .embellish_coffee {
    width: 440px;
    right: 40px;
    top: -120px;
  }
  .brand2 .info_product .info p {
    font-size: 14px;
    line-height: 24px;
  }
  .brand2 .show_grey {
    margin-top: 40px;
  }
  .brand2 .show_grey li {
    height: 140px;
    padding-left: 0px;
  }
  .brand2 .show_grey img {
    width: 100%;
    height: 100%;
  }
  .brand2 .info_header .container {
    padding: 10px 40px;
  }
  .brand2 .info_header .leaf img {
    height: 220px;
  }
  .brand2 .info_header .content {
    padding: 60px 30px;
    font-size: 14px;
    line-height: 24px;
  }
  .brand2 .info_header .shop {
    height: 200px;
    margin-top: 20px;
  }
  .brand2 .info_header .shop img {
    width: 180px;
  }
  .brand2 .product_coffee {
    margin-top: 80px!important;
  }
  .brand2 .product {
    margin-top: 60px;
  }
  .brand2 .product .coffee_product {
    width: 60%;
  }
  .brand2 .product .thumbnail {
    height: 240px;
  }
  .brand2 .product .case_thum {
    margin-left: 1px;
  }
  .brand2 .product p {
    font-size: 14px;
    line-height: 24px;
  }
  .brand2 .product .grade_product_img {
    height: 140px;
  }
  .brand2 .grade_products,
  .brand2 .center_product,
  .brand2 .product_coffee {
    padding-left: 10%;
  }
  .brand2 .coffee_product {
    margin-top: 40px;
  }
  .brand2 .coffee_product .thumbnail {
    height: 180px;
  }
  .brand2 .coffee_product p {
    font-size: 14px;
    line-height: 24px;
  }
  .brand2 .coffee_product .grade_product_img {
    height: 120px;
  }
  .brand2 .coffee_product .grade_product_img img {
    height: 100px;
  }
  .brand2 .coffee {
    background-color: #e3e2e2;
  }
  .brand2 .coffee .container {
    position: relative;
  }
  .brand2 .coffee .line {
    width: 4px;
    height: 100px;
    background-color: red;
    position: absolute;
    top: 10px;
    left: 60px;
  }
  .brand2 .coffee .decorate {
    position: absolute;
    width: 410px;
    right: 100px;
    top: -90px;
  }
  .brand2 .coffee .bg_content {
    width: 90%;
    margin-top: 10px;
    padding: 30px 100px;
    font-size: 14px;
    line-height: 24px;
  }
  .brand2 .csr {
    text-align: center;
  }
  .brand2 .csr_logo {
    font-size: 14px;
    line-height: 24px;
    margin-top: -30px;
  }
  .brand2 .csr_logo .csr_content {
    padding: 30px 110px 30px 0px;
  }
  .brand2 .csr_logo img {
    height: 80px;
    position: relative;
    margin-top: 20px;
  }
  .brand2 .grade_products .container .small1 {
    bottom: 40px;
    right: 40%;
    width: 300px;
  }
  .brand2 .center_product .container .small2 {
    bottom: 90px;
    right: 26%;
    width: 200px;
  }
}
@media (min-width: 991px) and (max-width: 1200px) {
  .brand2 .csr_logo {
    position: relative;
    left: -100px;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  .brand2 .info_product {
    margin-top: 50px;
  }
  .brand2 .info_product .embellish_coffee {
    width: 300px;
    right: 0px;
    top: -100px;
  }
  .brand2 .info_product .info p {
    font-size: 14px;
    line-height: 26px;
  }
  .brand2 .info_product .info .thumbnail img {
    height: 100px;
  }
  .brand2 .show_grey {
    margin-top: 10px;
  }
  .brand2 .show_grey li {
    height: 80px;
    padding-left: 0px;
  }
  .brand2 .show_grey img {
    width: 100%;
    height: 100%;
  }
  .brand2 .info_header .leaf img {
    height: 160px;
  }
  .brand2 .info_header .content {
    padding: 26px 10px;
    font-size: 14px;
  }
  .brand2 .info_header .shop {
    height: 160px;
    margin-top: 20px;
  }
  .brand2 .info_header .shop img {
    width: 120px;
  }
  .brand2 .product {
    margin-top: 60px;
  }
  .brand2 .product .thumbnail {
    height: 250px;
  }
  .brand2 .product p {
    font-size: 14px;
  }
  .brand2 .product .grade_product_img {
    height: 160px;
  }
  .brand2 .product .grade_product_img img {
    width: 60%;
  }
  .brand2 .coffee {
    background-color: #e3e2e2;
  }
  .brand2 .coffee .container {
    position: relative;
  }
  .brand2 .coffee .line {
    width: 4px;
    height: 100px;
    background-color: red;
    top: 10px;
    left: 40px;
  }
  .brand2 .coffee .decorate {
    width: 340px;
    right: -30px;
    top: -80px;
    position: absolute;
  }
  .brand2 .coffee .bg_content {
    margin-top: 10px;
    padding: 20px 70px;
    font-size: 14px;
    line-height: 26px;
  }
  .brand2 .coffee_product {
    margin-top: 40px;
  }
  .brand2 .coffee_product .thumbnail {
    height: 220px;
  }
  .brand2 .coffee_product p {
    font-size: 14px;
  }
  .brand2 .coffee_product .grade_product_img {
    height: 160px;
  }
  .brand2 .coffee_product .grade_product_img img {
    height: 120px;
  }
  .brand2 .csr_logo {
    font-size: 12px;
    line-height: 22px;
    margin-top: 0px;
    position: relative;
    left: -50px;
  }
  .brand2 .csr_logo .csr img {
    height: 60px;
  }
  .brand2 .grade_products .container .small1 {
    bottom: 60px;
    right: -20px;
    width: 240px;
  }
  .brand2 .center_product .container .small2 {
    display: none;
  }
}
@media (min-width: 460px) and (max-width: 767px) {
  .brand2 .brand_referral .bg_content_brand .lactein {
    width: 320px;
    right: -56px;
    bottom: -60px;
    position: absolute;
  }
  .brand2 .info_product {
    margin-top: 40px;
  }
  .brand2 .info_product .embellish_coffee {
    width: 300px;
    right: 0px;
    top: -100px;
  }
  .brand2 .info_product .info {
    margin-top: 30px;
  }
  .brand2 .info_product .info p {
    font-size: 14px;
    line-height: 26px;
  }
  .brand2 .info_product .info .thumbnail img {
    height: 160px;
  }
  .brand2 .show_grey {
    margin-top: 20px;
  }
  .brand2 .show_grey li {
    height: 80px;
    padding-left: 0px;
  }
  .brand2 .show_grey img {
    width: 100%;
    height: 100%;
  }
  .brand2 .info_header .leaf img {
    width: 60%;
  }
  .brand2 .info_header .content {
    padding: 50px 10px;
    font-size: 14px;
  }
  .brand2 .info_header li {
    margin-top: 30px;
  }
  .brand2 .info_header .shop {
    height: 160px;
    margin-top: 20px;
  }
  .brand2 .info_header .shop img {
    width: 130px;
  }
  .brand2 .product {
    margin-top: 60px;
  }
  .brand2 .product .thumbnail {
    height: 270px;
  }
  .brand2 .product p {
    font-size: 16px;
  }
  .brand2 .product .grade_product_img {
    height: 210px;
  }
  .brand2 .product .grade_product_img img {
    width: 60%;
  }
  .brand2 .coffee_product {
    margin-top: 20px;
  }
  .brand2 .coffee_product .thumbnail {
    height: 300px;
  }
  .brand2 .coffee_product p {
    font-size: 14px;
  }
  .brand2 .coffee_product .grade_product_img {
    height: 220px;
  }
  .brand2 .coffee_product .grade_product_img img {
    height: 160px;
  }
  .brand2 .coffee .logo_info img {
    height: 70px;
  }
  .brand2 .coffee .line {
    width: 4px;
    height: 80px;
    top: 20px;
    left: 40px;
  }
  .brand2 .coffee .decorate {
    position: absolute;
    width: 320px;
    right: 30px;
    top: -60px;
  }
  .brand2 .coffee .bg_content {
    margin-top: 20px;
    padding: 20px 50px;
    font-size: 14px;
    line-height: 26px;
  }
  .brand2 .csr_logo {
    font-size: 14px;
    line-height: 24px;
    margin-top: 20px;
  }
  .brand2 .csr_logo .csr img {
    height: 80px;
  }
  .brand2 .csr_logo .csr_content {
    padding: 10px 100px 0px 0px;
  }
  .brand2 .grade_products .container .small1 {
    bottom: 60px;
    right: 40px;
    width: 240px;
  }
  .brand2 .center_product .container .small2 {
    bottom: 90px;
    right: 80px;
    width: 200px;
  }
}
@media screen and (max-width: 460px) {
  .brand2 .brand_referral .bg_content_brand .lactein {
    width: 240px;
    right: -40px;
    bottom: -50px;
    position: absolute;
  }
  .brand2 .info_product {
    margin-top: 10px;
  }
  .brand2 .info_product .embellish_coffee {
    width: 200px;
    right: 0px;
    top: -100px;
  }
  .brand2 .info_product .info p {
    font-size: 12px;
    line-height: 24px;
  }
  .brand2 .info_product .info .thumbnail img {
    height: 140px;
  }
  .brand2 .show_grey li {
    height: 80px;
    padding-left: 0px;
  }
  .brand2 .show_grey img {
    width: 100%;
    height: 100%;
  }
  .brand2 .info_header .info {
    margin-top: 20px;
  }
  .brand2 .info_header .container {
    padding: 10px 40px;
  }
  .brand2 .info_header .leaf img {
    width: 100%;
  }
  .brand2 .info_header .content {
    padding: 50px 10px;
    font-size: 12px;
  }
  .brand2 .info_header .shop {
    height: 160px;
    margin-top: 20px;
  }
  .brand2 .info_header .shop img {
    width: 120px;
  }
  .brand2 .product {
    margin-top: 60px;
  }
  .brand2 .product .thumbnail {
    height: 230px;
  }
  .brand2 .product p {
    font-size: 14px;
  }
  .brand2 .product .grade_product_img {
    height: 130px;
  }
  .brand2 .product .grade_product_img img {
    width: 80%;
  }
  .brand2 .coffee_product {
    margin-top: 20px;
  }
  .brand2 .coffee_product .thumbnail {
    height: 250px;
  }
  .brand2 .coffee_product p {
    font-size: 14px;
  }
  .brand2 .coffee_product .grade_product_img {
    height: 210px;
  }
  .brand2 .coffee_product .grade_product_img img {
    height: 150px;
  }
  .brand2 .coffee .line {
    width: 4px;
    height: 60px;
    top: 0px;
    left: 40px;
  }
  .brand2 .coffee .decorate {
    width: 220px;
    right: -30px;
    top: -50px;
    position: absolute;
  }
  .brand2 .coffee .bg_content {
    padding: 20px 40px;
    font-size: 12px;
    line-height: 24px;
  }
  .brand2 .csr_logo {
    font-size: 12px;
    line-height: 24px;
    margin-top: 20px;
  }
  .brand2 .csr_logo .csr {
    margin-top: 10px;
  }
  .brand2 .csr_logo .csr img {
    height: 50px;
  }
  .brand2 .csr_logo .csr_content {
    padding-right: 20px ;
    padding-left: 0px;
  }
  .brand2 .grade_products .container .small1 {
    bottom: 100px;
    right: 0px;
    width: 200px;
  }
  .brand2 .center_product .container .small2 {
    bottom: 116px;
    right: 40px;
    width: 160px;
  }
}
