.brand .brand_center img {
  width: 100%;
}
.brand img {
  max-width: 100%;
}
.brand .brand_product .product_img {
  text-align: center;
}
.brand .brand_product .product_referral {
  position: relative;
  background: url("../images/brand/bg_content.png");
  background-size: 100% 100%;
  text-align: center;
}
.brand .brand_product .product_referral .title {
  position: relative;
  height: 70px;
}
.brand .brand_product .product_referral p {
  text-align: left;
}
.brand .brand_product .product_referral .btn_buy {
  display: inline-block;
}
.brand .brand_product .product_referral .btn_buy img {
  width: 100%;
}
@media (min-width: 992px) {
  .brand .brand_referral .bg_content_brand {
    width: 90%;
    margin-left: 5%;
  }
  .brand .brand_product .wrapper {
    width: 90%;
    margin-left: 5%;
  }
  .brand .brand_product .content {
    text-align: center;
    font-size: 14px;
    line-height: 26px;
  }
  .brand .sweets .product_img {
    position: relative;
    z-index: 100;
  }
  .brand .sweets .product_img img {
    width: 440px;
    position: relative;
    left: -80px;
    top: 140px;
    z-index: 100;
  }
  .brand .sugar .product_img img {
    width: 300px;
    position: relative;
    top: 30px;
    z-index: 100;
  }
  .brand .milkBall ul {
    position: relative;
  }
  .brand .milkBall .product_img {
    z-index: 100;
    height: 100%;
  }
  .brand .milkBall .product_img img {
    width: 350px;
    position: absolute;
    left: -150px;
    top: 230px;
  }
  .brand .product_referral {
    padding: 0px 50px 50px;
    font-size: 14px;
  }
  .brand .product_referral .title {
    top: -30px;
  }
  .brand .product_referral .btn_buy {
    margin-top: 20px;
    width: 100px;
  }
  .brand .milkBall,
  .brand .drinks,
  .brand .sweets,
  .brand .sugar {
    padding: 80px 0px;
    margin-top: 20px;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  .brand .brand_referral {
    margin-top: 30px;
  }
  .brand .product_referral {
    padding: 0px 30px 30px;
    font-size: 16px;
  }
  .brand .product_referral .bg_content {
    width: 90%;
    margin-left: 5%;
  }
  .brand .product_referral .title {
    top: -20px;
  }
  .brand .product_referral .btn_buy {
    margin-top: 20px;
    width: 100px;
  }
  .brand .product_referral p {
    font-size: 14px;
    line-height: 24px;
  }
  .brand .milkBall,
  .brand .drinks,
  .brand .sweets,
  .brand .sugar {
    margin-top: 40px;
    padding: 50px 0px;
  }
  .brand .sweets .product_img {
    position: relative;
    z-index: 100;
  }
  .brand .sweets .product_img img {
    width: 100%;
    position: relative;
    left: -60px;
    top: 180px;
  }
  .brand .milkBall .product_img {
    position: relative;
    top: 260px;
    left: 240px;
    z-index: 100;
  }
  .brand .milkBall .product_img img {
    width: 300px;
  }
  .brand .sugar .product_img img {
    width: 240px;
    position: relative;
    top: 100px;
    z-index: 100;
  }
}
@media (min-width: 768px) {
  .brand .brand_referral {
    margin-top: 30px;
  }
  .brand .milkBall {
    background: url("../images/brand/bg_milkBall.jpg") no-repeat center center;
    background-size: auto 100%;
  }
  .brand .drinks {
    background: url("../images/brand/bg_drinks.jpg") no-repeat center center;
    background-size: auto 100%;
  }
  .brand .sweets {
    background: url("../images/brand/bg_sweets.jpg") no-repeat center center;
    background-size: auto 100%;
  }
  .brand .sugar {
    background: url("../images/brand/bg_sugar.jpg") no-repeat center center;
    background-size: auto 100%;
  }
}
@media (min-width: 460px) and (max-width: 767px) {
  .brand .bg_content {
    width: 100%;
  }
  .brand .brand_referral {
    margin-top: 20px;
  }
  .brand .milkBall .product_img {
    background: url("../images/brand/bg_milkBall.jpg") no-repeat center center;
    background-size: auto 100%;
    padding: 30px 0px;
  }
  .brand .drinks .product_img {
    background: url("../images/brand/bg_drinks.jpg") no-repeat center center;
    background-size: auto 100%;
    padding: 30px 0px;
  }
  .brand .sweets .product_img {
    background: url("../images/brand/bg_sweets.jpg") no-repeat center center;
    background-size: auto 100%;
    padding: 30px 0px;
  }
  .brand .sugar .product_img {
    background: url("../images/brand/bg_sugar.jpg") no-repeat center center;
    background-size: auto 100%;
    padding: 30px 0px;
  }
  .brand .milkBall,
  .brand .drinks,
  .brand .sweets,
  .brand .sugar {
    margin-top: 30px;
  }
  .brand .product_referral {
    margin-top: 60px;
    padding: 0px 50px 50px;
  }
  .brand .product_referral .title {
    top: -20px;
  }
  .brand .product_referral .btn_buy {
    margin-top: 20px;
    width: 120px;
  }
  .brand .product_referral p {
    font-size: 14px;
  }
  .brand .product_img img {
    width: 60%;
  }
}
@media screen and (max-width: 460px) {
  .brand .brand_referral {
    margin-top: 20px;
  }
  .brand .product_img img {
    width: 60%;
  }
  .brand .milkBall .product_img {
    background: url("../images/brand/bg_milkBall.jpg") no-repeat center center;
    background-size: auto 100%;
    padding: 30px 0px;
  }
  .brand .drinks .product_img {
    background: url("../images/brand/bg_drinks.jpg") no-repeat center center;
    background-size: auto 100%;
    padding: 30px 0px;
  }
  .brand .sweets .product_img {
    background: url("../images/brand/bg_sweets.jpg") no-repeat center center;
    background-size: auto 100%;
    padding: 30px 0px;
  }
  .brand .sugar .product_img {
    background: url("../images/brand/bg_sugar.jpg") no-repeat center center;
    background-size: auto 100%;
    padding: 30px 0px;
  }
  .brand .product_referral {
    margin-top: 60px;
    padding: 0px 30px 30px;
  }
  .brand .product_referral .title {
    top: -20px;
    height: 60px!important;
  }
  .brand .product_referral .btn_buy {
    margin-top: 20px;
    width: 100px;
  }
  .brand .product_referral p {
    font-size: 12px;
    line-height: 22px;
  }
  .brand .milkBall,
  .brand .drinks,
  .brand .sweets,
  .brand .sugar {
    margin-top: 20px;
  }
}
