html,
body {
  width: 100%;
  overflow-x: hidden;
}
.brand3 img {
  max-width: 100%;
  vertical-align: middle;
}
.brand3 .bg {
  background: url("../images/brand2/bg.jpg") no-repeat top;
  background-size: 100%;
}
.brand3 .brand_center img {
  width: 100%;
}
.brand3 .brand_referral .container .bg_content_brand .lactein {
  position: absolute;
}
.brand3 .brand_referral .container .bg_content_brand .content {
  text-align: left;
}
.brand3 .info_product .info {
  color: #2d211d;
  position: relative;
}
.brand3 .info_product .info img {
  position: absolute;
  z-index: -1;
}
.brand3 .info_product .biolac {
  text-align: left;
  color: #221714;
  font-family: '宋体';
}
.brand3 .info_product .biolac .thumbnail {
  border: none;
  background-color: transparent;
  box-sizing: border-box;
}
.brand3 .info_product .biolac .thumbnail .biolac_wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.brand3 .info_product .biolac .thumbnail .biolac_wrapper .biolac-left {
  -webkit-box-flex: 0 0 140px;
  -webkit-flex: 0 0 140px;
  -ms-flex: 0 0 140px;
  flex: 0 0 140px;
}
.brand3 .info_product .biolac .thumbnail .biolac_wrapper .biolac-body {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
.brand3 .info_product .biolac .t {
  display: inline-block;
  width: 60%;
  color: #231815;
  font-weight: 700;
  text-align: center;
}
.brand3 .info_product .biolac p {
  text-align: left;
  color: #231815;
}
.brand3 .hs {
  background: url("../images/brand3/cake.jpg") no-repeat center center;
}
.brand3 .hed {
  background: url("../images/brand3/bg_hed.jpg") no-repeat center center;
}
.brand3 .h {
  background: url("../images/brand3/bg_q.jpg") no-repeat center center;
}
.brand3 .product_section {
  background-size: auto 100%;
}
.brand3 .product_section .intro {
  background: url("../images/brand/bg_content.png") no-repeat center center;
  background-size: 100% 100%;
  position: relative;
  color: #221714;
}
.brand3 .product_section .intro .logo {
  position: absolute;
}
.brand3 .product_section .intro .c {
  position: absolute;
}
.brand3 .product_section .intro .btn_buy {
  width: 120px;
  display: inline-block;
}
.brand3 .product_section .info {
  color: white;
  text-shadow: 1px 1px 1px #000;
}
.brand3 .product_section .info .product_show {
  text-align: center;
}
.brand3 .product_section .info .product_show .thumbnail {
  border: none;
  background-color: transparent;
}
.brand3 .product_section .info .product_show .thumbnail div {
  display: inline-block;
}
.brand3 .product_section .info .product_show .thumbnail div .img img {
  position: relative;
  top: 50%;
  bottom: 50%;
  transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}
@media (min-width: 992px) {
  .brand3 .brand_referral {
    margin-top: 30px;
  }
  .brand3 .brand_referral .bg_content_brand {
    margin-top: -80px;
  }
  .brand3 .brand_referral .bg_content_brand .lactein {
    width: 500px;
    right: -100px;
    bottom: -130px;
    position: absolute;
  }
  .brand3 .brand_referral .bg_content_brand .btn_buy {
    display: inline-block;
    width: 140px;
    margin-top: 30px;
  }
  .brand3 .info_product {
    margin-top: 60px;
  }
  .brand3 .info_product .info {
    width: 84%;
    line-height: 24px;
    font-size: 14px;
  }
  .brand3 .info_product .info img {
    width: 140px;
    left: 54%;
    top: -80px;
  }
  .brand3 .info_product .biolac {
    margin-top: 40px;
  }
  .brand3 .info_product .biolac .t {
    font-size: 20px;
    line-height: 60px;
  }
  .brand3 .info_product .biolac p {
    font-size: 14px;
    line-height: 24px;
  }
  .brand3 .info_product .biolac .media-heading {
    font-size: 16px;
    font-weight: 700;
  }
  .brand3 .info_product .biolac .biolac-body {
    padding-left: 30px;
    padding-top: 30px;
  }
  .brand3 .product_section {
    padding: 100px 0px;
    margin-top: 40px;
  }
  .brand3 .product_section .intro {
    font-size: 14px;
    line-height: 34px;
    padding: 30px 260px 50px 200px;
  }
  .brand3 .product_section .intro .logo {
    width: 140px;
    left: 10px;
    top: 0;
  }
  .brand3 .product_section .intro .c {
    width: 200px;
    right: 0;
    bottom: 8px;
  }
  .brand3 .product_section .intro .btn_buy {
    margin-top: 20px;
  }
  .brand3 .product_section .info {
    margin-top: 50px;
    padding-left: 15px;
  }
  .brand3 .product_section .info p {
    font-size: 14px;
    line-height: 24px;
  }
  .brand3 .product_section .info .product_show {
    margin-left: 10%;
  }
  .brand3 .product_section .info .product_show .thumbnail .img {
    text-align: center;
    height: 230px;
    padding: 10px;
  }
  .brand3 .hed .product_show {
    margin-top: 0px;
  }
  .brand3 .hed .product_show .img {
    text-align: center;
    height: 230px;
  }
  .brand3 .hed .product_show .img img {
    height: 210px;
  }
}
@media (min-width: 991px) and (max-width: 1200px) {
  .brand3 .info_product .info {
    padding: 30px;
  }
  .brand3 .info_product ul {
    padding: 30px;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  .brand3 .brand_referral {
    margin-top: 30px;
  }
  .brand3 .brand_referral .bg_content_brand {
    margin-top: -80px;
  }
  .brand3 .brand_referral .bg_content_brand .lactein {
    width: 360px;
    right: -70px;
    bottom: -70px;
    position: absolute;
  }
  .brand3 .brand_referral .bg_content_brand .btn_buy {
    display: inline-block;
    width: 140px;
    margin-top: 30px;
  }
  .brand3 .info_product {
    margin-top: 30px;
  }
  .brand3 .info_product .info {
    width: 94%;
    line-height: 24px;
    font-size: 14px;
    padding-top: 0px;
  }
  .brand3 .info_product .info img {
    width: 120px;
    left: 60%;
    top: -60px;
  }
  .brand3 .info_product .biolac {
    margin-top: 40px;
  }
  .brand3 .info_product .biolac .t {
    font-size: 24px;
    line-height: 60px;
    text-align: center;
    padding-left: 0px;
  }
  .brand3 .info_product .biolac p {
    font-size: 14px;
    line-height: 24px;
  }
  .brand3 .info_product .biolac .media-heading {
    font-size: 16px;
    font-weight: 700;
  }
  .brand3 .info_product .biolac .biolac-body {
    padding-left: 30px;
    padding-top: 30px;
  }
  .brand3 .product_section {
    padding: 40px 0px;
    margin-top: 40px;
  }
  .brand3 .product_section .intro {
    font-size: 14px;
    line-height: 30px;
    padding: 30px 170px 30px 160px;
  }
  .brand3 .product_section .intro .logo {
    width: 120px;
    left: 10px;
    top: 0;
  }
  .brand3 .product_section .intro .btn_buy {
    margin-top: 20px;
  }
  .brand3 .product_section .intro .c {
    width: 160px;
    right: 0;
    bottom: 8px;
  }
  .brand3 .product_section .info {
    margin-top: 50px;
  }
  .brand3 .product_section .info p {
    font-size: 12px;
    line-height: 22px;
  }
  .brand3 .product_section .info .product_show .thumbnail .img {
    height: 200px;
    padding: 10px;
  }
  .brand3 .hed .product_show {
    margin-top: 0px;
  }
  .brand3 .hed .product_show .img {
    text-align: center;
    height: 230px;
  }
  .brand3 .hed .product_show .img img {
    height: 200px;
  }
}
@media (min-width: 460px) and (max-width: 767px) {
  .brand3 .brand_referral {
    margin-top: 20px;
  }
  .brand3 .brand_referral .bg_content_brand {
    margin-top: -60px;
  }
  .brand3 .brand_referral .bg_content_brand .lactein {
    width: 240px;
    right: -46px;
    bottom: -60px;
    position: absolute;
  }
  .brand3 .brand_referral .bg_content_brand .btn_buy {
    margin-top: 10px;
    display: inline-block;
    width: 100px;
  }
  .brand3 .info_product {
    margin-top: 30px;
  }
  .brand3 .info_product .info {
    width: 94%;
    line-height: 24px;
    font-size: 14px;
    padding-left: 15px;
  }
  .brand3 .info_product .info img {
    width: 120px;
    left: 60%;
    top: -40px;
  }
  .brand3 .info_product .biolac {
    margin-top: 40px;
  }
  .brand3 .info_product .biolac li {
    margin-left: 160px;
  }
  .brand3 .info_product .biolac .t {
    font-size: 24px;
    line-height: 60px;
    padding-left: 0px;
  }
  .brand3 .info_product .biolac p {
    font-size: 14px;
    line-height: 24px;
  }
  .brand3 .info_product .biolac .media-heading {
    font-size: 16px;
    font-weight: 700;
  }
  .brand3 .info_product .biolac .biolac-body {
    padding-left: 20px;
    padding-top: 30px;
  }
  .brand3 .product_section {
    padding: 40px 0px;
    margin-top: 40px;
  }
  .brand3 .product_section .intro {
    font-size: 14px;
    line-height: 26px;
    padding: 70px 100px;
  }
  .brand3 .product_section .intro .logo {
    width: 120px;
    left: 10px;
    top: 0;
  }
  .brand3 .product_section .intro .c {
    width: 160px;
    right: 0;
    bottom: 8px;
  }
  .brand3 .product_section .info {
    margin-top: 30px;
  }
  .brand3 .product_section .info p {
    font-size: 14px;
    line-height: 24px;
  }
  .brand3 .product_section .info .product_show .thumbnail .img {
    height: 200px;
  }
  .brand3 .hs .product_show .thumbnail .img img,
  .brand3 .h .product_show .thumbnail .img img {
    width: 40%;
  }
  .brand3 .hed .product_show {
    margin-top: 0px;
  }
  .brand3 .hed .product_show .img {
    text-align: center;
    height: 150px;
  }
  .brand3 .hed .product_show .img img {
    height: 160px;
  }
  .brand3 .h .intro {
    padding: 110px 100px 70px 100px;
  }
}
@media screen and (max-width: 460px) {
  .brand3 .brand_referral {
    margin-top: 20px;
  }
  .brand3 .brand_referral .bg_content_brand {
    width: 100%;
    margin-top: -50px;
  }
  .brand3 .brand_referral .bg_content_brand .lactein {
    width: 240px;
    right: -40px;
    bottom: -50px;
    position: absolute;
  }
  .brand3 .brand_referral .bg_content_brand .btn_buy {
    display: inline-block;
    width: 100px;
    margin-top: 10px;
  }
  .brand3 .info_product {
    margin-top: 40px;
  }
  .brand3 .info_product .info {
    width: 94%;
    font-size: 12px;
    line-height: 22px;
  }
  .brand3 .info_product .info img {
    width: 120px;
    left: 70%;
  }
  .brand3 .info_product .biolac {
    margin-top: 40px;
  }
  .brand3 .info_product .biolac .t {
    line-height: 60px;
  }
  .brand3 .info_product .biolac p {
    font-size: 12px;
    line-height: 22px;
  }
  .brand3 .info_product .biolac .media-heading {
    font-size: 14px;
    font-weight: 700;
  }
  .brand3 .info_product .biolac .biolac-body {
    padding-left: 20px;
    padding-top: 30px;
  }
  .brand3 .product_section .intro {
    font-size: 14px;
    padding: 90px 140px;
  }
  .brand3 .product_section .intro .logo {
    width: 170px;
    left: 30px;
    top: 0;
  }
  .brand3 .product_section {
    padding: 20px 0px;
    margin-top: 40px;
  }
  .brand3 .product_section .intro {
    font-size: 14px;
    line-height: 24px;
    padding: 60px 30px;
  }
  .brand3 .product_section .intro .logo {
    width: 90px;
    left: 10px;
    top: 0;
  }
  .brand3 .product_section .intro .btn_buy {
    margin-top: 10px;
    display: inline-block;
    width: 100px;
  }
  .brand3 .product_section .intro .c {
    width: 110px;
    right: 0;
    bottom: 8px;
  }
  .brand3 .product_section .info {
    margin-top: 30px;
  }
  .brand3 .product_section .info p {
    font-size: 12px;
    line-height: 22px;
  }
  .brand3 .product_section .info .product_show .thumbnail .img {
    height: 200px;
  }
  .brand3 .hs .product_show .thumbnail .img,
  .brand3 .h .product_show .thumbnail .img {
    width: 60%;
  }
  .brand3 .hed .product_show {
    margin-top: 0px;
  }
  .brand3 .hed .product_show .img {
    text-align: center;
    height: 150px;
  }
  .brand3 .hed .product_show .img img {
    height: 140px;
  }
  .brand3 .h .intro {
    padding: 90px 30px 50px 30px;
  }
}
