.line1{
  img{
    width: 100%;
  }
}

.line2{
  padding: 60px 0;
  text-align: center;
  .title{
    width: 320px;
    margin-bottom: 22px;
  }
  .trump_pannel{
    margin: 0 auto;
    width: 85%;
    img{
      width: 100%;
    }
    .trump_content{
      overflow: hidden;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 60px 60px 0;
      background: #fff;
      .text{
        text-align: center;
        h2{
          font-family: 'font-title';
          font-size: 75px;
        }
        small{
          font-weight: bolder;
        }
        p{
          margin-top: 40px;
        }
      }
    }
  }
}

.line3{
  img{
    width: 100%;
  }
}

.line4{
  .title{
    margin-top: 65px;
    padding: 0 100px;
    font-weight: bold;
  }
  .staffs{
    display: flex;
    flex-wrap:wrap;
    text-align: center;
    .col-sm-0{
      padding: 0 !important;
    }
    .staff{
      .picture{
        padding: 20px 20px 0;
        background: #fff;
        line-height: 30px;
        font-weight: bold;
        img{
          width: 100%;
        }
      }
      .introduce{
        margin: 20px 0;
      }
    }
  }
  .coffee{
    text-align: center;
    img{
      width: 10%;
    }
  }
}

@media screen and (min-width: 769px) and (max-width: 992px){
  .line1{
    padding-top: 17px;
  }
  .line2{
    .trump_pannel{
      width: 95%;
      .trump_content{
        display: block;
        padding: 30px 0 0 !important;
      }
    }
  }
  .line4{
    .title{
      padding: 0 50px;
    }
    .coffee{
      img{
        width: 20%;
      }
    }
  }
}

@media (max-width: 768px){
  .line1{
    padding-top: 7px;
  }
  .line2{
    .trump_pannel{
      width: 100%;
      .trump_content{
        display: block;
        padding: 10px 0 0 !important;
      }
    }
  }
  .line4{
    .title{
      padding: 0 10px;
    }
    .coffee{
      img{
        width: 30%;
      }
    }
  }
}