.line1 img {
  width: 100%;
}
.line2 {
  padding: 60px 0;
  text-align: center;
}
.line2 .title {
  width: 320px;
  margin-bottom: 22px;
}
.line2 .trump_pannel {
  margin: 0 auto;
  width: 85%;
}
.line2 .trump_pannel img {
  width: 100%;
}
.line2 .trump_pannel .trump_content {
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 60px 60px 0;
  background: #fff;
}
.line2 .trump_pannel .trump_content .text {
  text-align: center;
}
.line2 .trump_pannel .trump_content .text h2 {
  font-family: 'font-title';
  font-size: 75px;
}
.line2 .trump_pannel .trump_content .text small {
  font-weight: bolder;
}
.line2 .trump_pannel .trump_content .text p {
  margin-top: 40px;
}
.line3 img {
  width: 100%;
}
.line4 .title {
  margin-top: 65px;
  padding: 0 100px;
  font-weight: bold;
}
.line4 .staffs {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}
.line4 .staffs .col-sm-0 {
  padding: 0 !important;
}
.line4 .staffs .staff .picture {
  padding: 20px 20px 0;
  background: #fff;
  line-height: 30px;
  font-weight: bold;
}
.line4 .staffs .staff .picture img {
  width: 100%;
}
.line4 .staffs .staff .introduce {
  margin: 20px 0;
}
.line4 .coffee {
  text-align: center;
}
.line4 .coffee img {
  width: 10%;
}
@media screen and (min-width: 769px) and (max-width: 992px) {
  .line1 {
    padding-top: 17px;
  }
  .line2 .trump_pannel {
    width: 95%;
  }
  .line2 .trump_pannel .trump_content {
    display: block;
    padding: 30px 0 0 !important;
  }
  .line4 .title {
    padding: 0 50px;
  }
  .line4 .coffee img {
    width: 20%;
  }
}
@media (max-width: 768px) {
  .line1 {
    padding-top: 7px;
  }
  .line2 .trump_pannel {
    width: 100%;
  }
  .line2 .trump_pannel .trump_content {
    display: block;
    padding: 10px 0 0 !important;
  }
  .line4 .title {
    padding: 0 10px;
  }
  .line4 .coffee img {
    width: 30%;
  }
}
