//字体引入
@font-face{
  font-family: 'font-title';
  src: url(../fonts/EchinosParkScript_PERSONAL_USE_ONLY.ttf);
}
//公共样式
body{
  font-family: '微软雅黑';
  background: url(../images/common/bg.jpg) repeat top left;
  background-size:contain;
  overflow-x: hidden;
  // font-weight: bolder;
  box-sizing:border-box;
  -moz-box-sizing:border-box; /* Firefox */
  -webkit-box-sizing:border-box;
}
// p{
//   text-align: justify;
// }
//头部导航
header{
  .navbar-default{
    background: url(../images/common/bg.jpg) repeat top left;
    background-size: cover;
  }
  .navbar{
    padding: 24px 0;
    margin-bottom: 0;
    .navbar-header{
      position: relative;
      .logo{
        display: block;
        margin-top: 42px;
        width: 160px;
        img{
          width: 100%;
        }
      }
    }
    
    .navbar-collapse{
      background: url(../images/common/bg.jpg) repeat top left;
      background-size: cover;
      box-sizing: border-box;
      
      .navbar-nav{
        .active{
          a{
            font-weight: bolder;
            background: transparent;
            color: black;
          }
        }
        a{
          display: block;
          text-align: center;
          color: #827f7f;
          transition: all 0.5s;
          &:hover{
            background: transparent;
            color: black;
          }
        }
      }
    }
  }

}

//底部样式
footer{
  margin-top: 38px;
  background: #02121a;
  text-align: center;
  color: #fff;
  p{
    padding: 70px 0;
    margin: 0;
  }
}
.series{
  li{
    text-align: center;
    a{
      color: #221714
    }
    a.active{
      color: red;
    }
  }
}
@media (min-width: 992px){
  .series{
    li{
      padding: 0;
      line-height: 40px;
      a{
        font-size: 14px;
      }
    }
  }
  .navbar{
    li{
      a{
        padding: 10px 13px;
      }
    }
  }
}
@media screen and (min-width: 768px) and (max-width: 992px){
  //header
  .navbar{
    .container{
      width: 100%;
    }
    .navbar-header{
      .logo{
        width: 160px !important;
      }
    }
    .navbar-collapse{
      font-size: 12px;
    }
    li{
      a{
        padding: 10px 8px;
      }
    }
  }
  //footer
  footer{
    margin-top: 20px;
    p{
      padding: 35px 0;
    }
  }
  .series{
    li{
      padding: 0;
      line-height:30px;
      a{
        font-size: 14px;
      }
    }
  }
  
}
@media screen and (min-width: 460px) and (max-width: 768px){
  .series{
    li{
      padding: 0;
      line-height:40px;
      a{
        font-size: 14px;
      }
    }
  }
  
}
@media (min-width: 768px){
  .navbar-nav{
    padding-top: 38px;
  }
}
@media (max-width: 767px){
  //header
  .navbar{
    padding: 12px 0 !important;
    max-height: 80px;
    .navbar-header{
      margin: 0;
      padding: 0;
      .logo{
        width: 160px !important;
        margin-top: 6px!important;
      }
      .navbar-toggle{
        margin-top: 14px;
      }
    }
    .navbar-collapse{
      margin-left: -17px;
      margin-right: -17px;
    }
  }
  header{
	  position: relative;
	  z-index: 100;
	  .navbar{
		  
		//   width: 100%;
		  .navbar-nav{
			//   background-color:rgba(0, 0, 0, 0.5);
			  margin-top: 0px;
			  overflow-y: auto;
		  }
	  }
  }
  //footer
  footer{
    margin-top: 16px;
    p{
      padding: 20px;
    }
  }
}
@media (max-width: 460px){
  .series{
    li{
      padding: 0;
      line-height: 30px;
      a{
        font-size: 12px;
      }
    }
  }
}

// 品牌
img{
  max-width: 100%;
}
.logo_brand{
  position: absolute;
  top: 0;
  left:15px;
}
.bg_content_brand{
  text-align: center;
  position: relative;
  background: url("../images/brand/bg_content.png");
  background-size:100% 100%;
  .content{
      text-align: center;
      color: #2d211d;
      p{
          text-align: left;
      }
  }
  .bg{
      width: 100%;
  }
}
.logo_info{

}
@media (min-width: 992px){
    .btn_goTb{
        display: inline-block;
        width: 240px;
    }
    .logo_brand{
        width: 90px;
    }
    .bg_content_brand{
      text-align: center;
      
      .content{
          text-align: center;
          padding: 50px 130px;
          
          p{
              line-height:30px;
              font-size: 14px;
          }
          
      }
    }
    .logo_info{
        margin-bottom: 30px;
        img{
          height: 60px;
        }
    }
}
@media (min-width: 768px) and(max-width:992px){
  .btn_goTb{
      display: inline-block;
      width: 200px;
  }
  .logo_brand{
      width: 60px;
  }
  .bg_content_brand{
      .content{
        padding: 60px 60px 30px 80px;
        p{
            line-height:24px;
            text-align: left;
            font-size: 14px;
            margin-top: 10px;
        }
    }
  }
  .logo_info{
      margin-bottom: 30px;
      img{
        height: 60px;
      }
  }
}
@media (min-width: 460px) and(max-width:767px){
  .btn_goTb{
      display: inline-block;
      width: 200px;
  }
  .logo_brand{
      width: 60px;
  }
  .bg_content_brand{
      width: 100%;
      text-align: center;
      .content{
          padding: 60px 40px 20px 80px;
          p{
              text-align: left;
              line-height: 24px;
              font-size: 14px;
          }
          
      }
  }
  .logo_info{
      margin-bottom: 20px;
      margin-left: 15px;
      img{
        height: 50px;
      }
  }
}
@media screen and (max-width: 460px){
  .btn_goTb{
      display: inline-block;
      width: 120px;
  }
  .logo_brand{
      width: 50px;
  }
  .bg_content_brand{
      width: 100%;
      text-align: center;
      .content{
          padding: 56px 30px 30px 50px;
          text-align: center;
          p{
              text-align: left;
              font-size: 12px;
              line-height: 20px;
              margin-top: 10px;
          }
      }
  }
  .logo_info{
      margin-bottom: 10px;
      img{
        height: 40px;
      }
  }
}
// 模态
.modal-footer{
  button{
    color: white;
    background-color: #d71518;
  }
  button:hover{
    color: white;
    background-color: #fea548;
  }
}
.modal-header{
  padding: 0px;
  padding-right: 15px;
  button{
    font-size: 70px;
    color: #221714;
  }
}
.popup{
  .arrow{
    color: #d2cfcf;
    div{
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
    }
    .arrRight{
      right: -9vw;
    }
    .arrLeft{
      left: -9vw;
    }
  }
}
@media (min-width: 768px) and(max-width:992px){
  .modal-dialog {
      width: 660px;
      margin: 150px auto;
  }
  .popup{
    font-size: 8vw;
    .arrow{
      font-size: 8vw;
      .arrRight{
      }
      .arrLeft{
      }
    }
  }
}
@media (min-width: 992px){
  .modal-dialog {
      width: 800px;
      margin: 150px auto;
  }
  .popup{
    .arrow{
      font-size: 8vw;
      .arrRight{
      }
      .arrLeft{
      }
    }
  }
}
@media (max-width: 768px){
  .modal-dialog {
      margin: 150px auto;
  }
  .modal-header{
    button{
      font-size: 60px;
    }
  }
}
main{
  position: relative;
}
.btn_goTop{
  position: fixed;
  bottom: 100px;
  right: 20px;
  text-align:right;
  color:white;
  background-color: #999;
  border-radius: 10px;
  width: 54px;
  height: 50px;
  text-align: center;
  display: none;
  opacity: 0.7;
  div{
    font-size: 30px;
    line-height: 50px;
  }
}
.btn_goTop:hover{
  background-color: #898989;
}