.contact li {
  margin-bottom: 82px;
}
.contact li h2 {
  margin: 0;
}
.contact li .line {
  display: flex;
  justify-content: left;
  align-items: center;
  margin: 20px 0;
  padding-left: 30px;
}
.contact li .line span {
  display: inline-block;
}
.contact li .line .line-black {
  width: 80px;
  height: 2px;
  background: #6e5f57;
}
.contact li .line .line-red {
  width: 90px;
  height: 6px;
  background: -webkit-linear-gradient(left, #ca1c1e, #9d1e23);
  /* Safari 5.1 - 6.0 */
  background: -o-linear-gradient(right, #ca1c1e, #9d1e23);
  /* Opera 11.1 - 12.0 */
  background: -moz-linear-gradient(right, #ca1c1e, #9d1e23);
  /* Firefox 3.6 - 15 */
  background: linear-gradient(to right, #ca1c1e, #9d1e23);
  /* 标准的语法 */
}
.contact li .contact_info {
  margin-bottom: 30px;
  padding: 0 2em;
  font-weight: bold;
}
.contact li .contact_info span {
  margin-right: 65px;
}
.contact li .map {
  padding: 10px;
  width: 100%;
  height: 380px;
  background: #fff;
}
.contact li .map div {
  height: 100%;
}
.contact .qrcode_group {
  text-align: center;
}
.contact .qrcode_group li {
  display: inline-block;
  margin: 20px;
  width: 150px;
  height: 150px;
}
.contact .qrcode_group li img {
  width: 100%;
}
.contact .qrcode_group li div {
  padding: 10px;
  color: #a4acb1;
}
@media (min-width: 992px) {
  .contact {
    margin-top: 80px;
  }
}
@media screen and (min-width: 769px) and (max-width: 992px) {
  .contact {
    margin-top: 80px;
  }
  .contact li h2 {
    text-align: center;
  }
  .contact li .line {
    justify-content: center;
    padding-left: 0;
  }
}
@media (max-width: 768px) {
  .contact {
    margin-top: 40px;
  }
  .contact li h2 {
    text-align: center;
  }
  .contact li .line {
    justify-content: center;
    padding-left: 0;
  }
  .contact li .contact_info span {
    display: block;
    margin: 0;
  }
}
