img {
  max-width: 100%;
}
main {
  width: 100%;
  margin-bottom: 40px;
}
main .slideshow .carousel .carousel-inner img {
  width: 100%;
}
main .creation {
  color: #221613;
}
main .creation .container {
  position: relative;
}
main .creation .embellish {
  position: absolute;
}
main .creation .title {
  width: 100%;
  text-align: center;
}
main .creation .content {
  background: url("../images/home/bg_content.png") no-repeat center center;
  background-size: 100% 100%;
  text-align: justify;
  color: #221714;
}
main .brand {
  width: 100%;
}
main .center .thumbnail .images {
  position: relative;
}
main .center .thumbnail .images img {
  width: 100%;
}
main .center .thumbnail .images img:nth-child(2) {
  position: absolute;
  left: 0;
  top: 0;
}
main .center .thumbnail .title {
  position: relative;
}
main .center .thumbnail .title img {
  width: 100%;
}
main .center .thumbnail .title .btn_brand {
  position: absolute;
  width: 30%;
  left: 0;
  right: 0;
  margin: auto;
}
main .videoWrapper {
  border: 1px solid black;
  display: inline-block;
}
main .video {
  text-align: center;
}
@media (min-width: 992px) {
  .creation {
    margin-top: 40px;
  }
  .creation .embellish {
    width: 140px;
    bottom: -40px;
    right: 60px;
  }
  .creation .coffee {
    width: 140px;
    top: 0px;
    right: 140px;
  }
  .creation .limo {
    width: 160px;
    top: 80px;
    left: 20px;
  }
  .creation .title img {
    width: 240px;
  }
  .creation .content {
    margin-top: 40px;
    width: 80%;
    margin-left: 10%;
    padding: 80px;
  }
  .creation .content p {
    font-size: 14px;
    line-height: 22px;
    margin: 30px 0px;
  }
  .center .thumbnail .title .btn_brand {
    bottom: 38px;
  }
}
@media (min-width: 992px) {
  .videoWrapper {
    margin-top: 50px;
    border: 1px solid black;
    padding: 10px;
    width: 710px;
  }
  .videoCon {
    width: 690px;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  .creation {
    margin-top: 40px;
  }
  .creation .embellish {
    width: 120px;
    bottom: -40px;
    right: 10px;
  }
  .creation .coffee {
    width: 120px;
    top: 0px;
    right: 70px;
  }
  .creation .limo {
    width: 130px;
    top: 60px;
    left: -30px;
  }
  .creation .title img {
    width: 240px;
  }
  .creation .content {
    margin-top: 40px;
    width: 90%;
    margin-left: 5%;
    padding: 40px;
  }
  .creation .content p {
    font-size: 12px;
    line-height: 20px;
    margin: 20px 0px;
  }
  .center .thumbnail .title .btn_brand {
    bottom: 32px;
  }
}
@media (min-width: 767px) and (max-width: 992px) {
  .videoWrapper {
    margin-top: 40px;
    padding: 10px;
  }
  .videoCon {
    width: 710px;
  }
}
@media (min-width: 767px) {
  main .creation {
    margin: 40px 0px;
  }
  main .center {
    margin-top: 100px;
  }
}
@media (min-width: 461px) and (max-width: 767px) {
  main .creation {
    margin-top: 40px;
  }
  main .creation .embellish {
    width: 100px;
    bottom: -40px;
    right: 10px;
  }
  main .creation .coffee {
    width: 100px;
    top: 0px;
    right: 70px;
  }
  main .creation .limo {
    width: 100px;
    top: 60px;
    left: 0px;
  }
  main .creation .title img {
    width: 240px;
  }
  main .creation .content {
    margin-top: 40px;
    width: 90%;
    margin-left: 5%;
    padding: 30px 40px 50px;
  }
  main .creation .content p {
    font-size: 12px;
    line-height: 18px;
    margin: 20px 0px;
  }
  main .center .thumbnail .title .btn_brand {
    bottom: 38px;
  }
  main .brand {
    margin-top: 30px;
  }
  main .videoWrapper {
    padding: 10px;
  }
}
@media screen and (max-width: 460px) {
  main {
    margin: 0px 0px;
  }
  main .creation {
    margin-top: 20px;
  }
  main .creation .embellish {
    width: 60px;
    bottom: 0px;
    right: 0px;
  }
  main .creation .coffee {
    width: 60px;
    top: 0px;
    right: 40px;
  }
  main .creation .limo {
    width: 60px;
    top: 60px;
    left: 0px;
  }
  main .creation .title img {
    width: 120px;
  }
  main .creation .content {
    margin-top: 20px;
    width: 100%;
    padding: 40px;
  }
  main .creation .content p {
    font-size: 10px;
    line-height: 18px;
    margin: 16px 0px;
  }
  main .center .thumbnail .title .btn_brand {
    bottom: 20px;
  }
  main .center {
    margin-top: 40px;
  }
  main .videoWrapper {
    padding: 5px;
  }
  main .videoCon {
    width: 100%;
    height: 100%;
  }
}
.popup {
  opacity: 0;
  transition: all 1s;
}
.thumbnail:hover .popup {
  opacity: 1;
}
