main{
    color: #221714;
    img{
        max-width: 100%;
        width: 100%;
    }
    .line{
        span{
            display: block;
            width: 100%;
            height: 1px;
            background-color: #221714;
            margin-top: 3px;
        }
    }
    .content{
        text-align: justify;
    }
}
@media (min-width: 992px){
    main{
        // margin-top: 60px;
        // padding: 30px;
        h3{
            line-height: 80px;
        }
        .content,.photo{
            margin-top: 40px;
        }
        
    }
    p{
        font-size: 14px;
        line-height: 24px;
    }
}
@media screen and (min-width: 769px) and (max-width: 992px){
    main{
        // margin-top: 80px;
        // padding: 30px;
        h3{
            line-height: 60px;
        }
        .content,.photo{
            margin-top: 30px;
        }
    }
    p{
        font-size: 14px;
        line-height: 24px;
    }
}
@media screen and (min-width: 460px) and (max-width: 748px){
    main{
        // margin-top: 60px;
        padding: 0px 30px;
        h3{
            font-size: 20px;
            line-height: 60px;
        }
        .content,.photo{
            margin-top: 30px;
        }
    }
    p{
        font-size: 14px;
        line-height: 24px;
    }
}
@media (max-width: 460px){
    main{
        // margin-top: 20px;
        padding:0px 20px;
        h3{
            font-size: 20px;
            line-height: 30px;
            margin-bottom:20px;
        }
        .content,.photo{
            margin-top: 20px;
        }
    }
    p{
        font-size: 12px;
        line-height: 20px;
    }
}