main {
  color: #221714;
}
main img {
  max-width: 100%;
  width: 100%;
}
main .line span {
  display: block;
  width: 100%;
  height: 1px;
  background-color: #221714;
  margin-top: 3px;
}
main .content {
  text-align: justify;
}
@media (min-width: 992px) {
  main h3 {
    line-height: 80px;
  }
  main .content,
  main .photo {
    margin-top: 40px;
  }
  p {
    font-size: 14px;
    line-height: 24px;
  }
}
@media screen and (min-width: 769px) and (max-width: 992px) {
  main h3 {
    line-height: 60px;
  }
  main .content,
  main .photo {
    margin-top: 30px;
  }
  p {
    font-size: 14px;
    line-height: 24px;
  }
}
@media screen and (min-width: 460px) and (max-width: 748px) {
  main {
    padding: 0px 30px;
  }
  main h3 {
    font-size: 20px;
    line-height: 60px;
  }
  main .content,
  main .photo {
    margin-top: 30px;
  }
  p {
    font-size: 14px;
    line-height: 24px;
  }
}
@media (max-width: 460px) {
  main {
    padding: 0px 20px;
  }
  main h3 {
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 20px;
  }
  main .content,
  main .photo {
    margin-top: 20px;
  }
  p {
    font-size: 12px;
    line-height: 20px;
  }
}
