.news li .news_img {
  margin-bottom: 25px;
  text-align: right;
}
.news li .news_img img {
  width: 100%;
}
.news li .text {
  width: 100%;
}
.news li .text h3 {
  margin: 0 0 20px;
  font-weight: bold;
  font-size: 18px;
}
.news li .text button {
  padding: 5px 20px;
  border: none;
  background: rgba(0, 0, 0, 0.3);
  color: #fff;
}
.news li .text button:hover {
  background-color: #fea548;
}
@media (min-width: 992px) {
  .news li {
    margin: 60px auto;
  }
  .news p {
    font-size: 14px;
    line-height: 24px;
  }
}
@media screen and (min-width: 769px) and (max-width: 992px) {
  .news li {
    margin: 40px auto;
  }
  .news li .text {
    width: 100% !important;
  }
  .news p {
    font-size: 16px;
    line-height: 26px;
  }
}
@media (max-width: 768px) {
  li .text {
    width: 100% !important;
  }
}
@media screen and (min-width: 460px) and (max-width: 748px) {
  .news li {
    margin: 40px auto;
  }
  p {
    font-size: 14px;
    line-height: 24px;
  }
}
@media (max-width: 460px) {
  .news li {
    margin: 40px auto;
  }
  p {
    font-size: 12px;
    line-height: 22px;
  }
}
